---
title: Offers - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: offersOfItems
page: offersOfItems
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Offers</h1>
      
      <form class="form" data-bind="submit: submitSearch">
        <fieldset class="form__fieldset">
          <legend class="form__legend">Filter results</legend>
          <ul class="form__field-list">
            <!-- ko if: shouldShowLocationFilter -->
            <li class="form__field-item form__field-item--full-width" data-claims="superadmin,cityadmin">
              <label for="filterOnLocation" class="form__label">Location:</label>
              <select class="form__input form__input--medium" name="filterOnLocation" data-bind="options: availableLocations,
                                value: locationToFilterOn,
                                optionsText: 'name',
                                optionsValue: 'id',
                                optionsCaption: 'All'"></select>
            </li>
            <!-- /ko -->
            <li class="form__field-item">
              <label for="filterByName" class="form__label">Search Description:</label>
              <input type="text" name="filterByName" class="form__input" data-bind="textInput: nameToFilterOn"></input>
            </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--info">
          <span class="btn__text">Search</span>
        </button>
      </form>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content">
      {{> item-listing }}
    </div>
  </div>
</div>
{{> loading-spinner}}

<script type="text/html" id="item-template">
  <article data-bind="css: highlighted">
    <header class="volunteer__header">
      <div class="highlight-item">
        <label class="highlight-item__label" data-bind="attr: { for: id }">Highlight</label>
        <input class="highlight-item__checkbox" type="checkbox" data-bind="checked: isHighlighted, attr: { id: id }" />
      </div>
      <h1 class="h2 volunteer__heading">
        <span data-bind="html:person.firstName"></span>
        <span data-bind="html:person.lastName"></span>
      </h1>
      <h2 class="h3 volunteer__sub-heading">
        <span data-bind="text: person.postcode"></span>
        <span data-bind="text: creationDate"></span>
      </h2>
    </header>

    <section class="key-value-pair volunteer__details-list">
      <div class="volunteer__details-item volunteer__details-item--2">
        <h3>Description</h3>
        <p data-bind="html:shortDescription"></p>
      </div>
      <div class="volunteer__details-item volunteer__details-item--2">
        <h3>Additional Info</h3>
        <p data-bind="html:shortAdditionalInfo"></p>
      </div>
    </section>
    <section class="volunteer__actions">
      <a data-bind="attr: { href: contactUrl }" class="btn btn--primary volunteer__contact-btn"><span class="btn__text">Contact</span></a>
      <button class="btn btn--info" data-bind="click: getContactHistory"><span class="btn__text">View Contact Log</span></button>
      <button class="btn btn--warning" data-bind="click: archive"><span class="btn__text">Archive</span></button>
      <!-- ko if: canShare() -->
      <a class="btn btn--indifferent" data-bind="attr: {href: shareUrl}">
        <span class="btn__text">Share</span>
      </a>
      <!-- /ko -->
    </section>

    <section>
    <!-- ko if: hasRetrievedContactHistory() -->
      <!-- ko if: hasContactHistory() -->
        <ul data-bind="foreach: contactHistory" class="volunteer-contact-history">
          <li class="volunteer-contact-history__item">
            <p data-bind="text: message"></p>
            <p><span data-bind="text: createdBy"></span> - <span data-bind="text: createdDate"></span></p>
          </li>
        </ul>
      <!-- /ko -->
      <!-- ko ifnot: hasContactHistory() -->
        <p>No history available</p>
      <!-- /ko -->
      <button class="btn btn--info" data-bind="click: hideContactHistory"><span class="btn__text">Hide</span></button>
    <!-- /ko -->
    </section>
  </article>
</script>
