.sp {
  // @include span(6 of 12);
  background: #eee;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  header {
    float: left;
    width: 50%;
    margin-right: 1em;
    h2 {
      margin-top: 0;
    }
  }
  button {
    margin-right: .5em;
    position: relative;
    top: .75em;
  }
  a {
    position: relative;
    top: .75em;
  }
}
