.form {
  fieldset {
    border: none;

    legend {
      text-align: left
    }
    ol {
      list-style: none;
    }
    label {
      width: 220px;
      margin-right: 1em;
      display: inline-block;
      text-align: right;
    }
    input { color: black; padding: 10px; }
    input[type="submit"] {
      @extend .btn;
    }
  }
}
