.form {
  .input,
  input, textarea, select { 
    color: black; padding: 10px; width: 240px; 
    &--short {
      width: 120px;
    }
  }

  textarea {
    width: 100%;
    height: 10em;
  }

  .page-addServiceProvider &,
  .page-login & {
    width: 600px; margin: 0 auto;
  }

  h2, h3 { display: inline-block; margin-right: 1em; width: 300px; }
}