.key-value-pair {
  @include cf();

  & > * { text-align: left; padding-bottom: 10px; }

  &__key {
    clear: left;

    @include mq($from: m) {
      @include span(4 of $column-large);
    }
  }
  &__value {
    margin: 0px;

    @include mq($from: m) {
      @include span(8 of $column-large);
    }
  }
}
