.key-value-pair {
  @include cf();
  & > * { text-align: left; padding-bottom: 10px; }

  &__value {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    @include mq($from: m) {
      @include span(8 of 12);
    }

    .split__element--admin-panel & {
      @include mq($from: m) {
        @include span(1 of 1);
      }
    }
  }
  &__key {
    clear: left;
    font-weight: bold;
    @include mq($from: m) {
      @include span(6 of 12);
    }

    &--inline {
      @include span(6 of 12);

      & + * {
        width: auto!important;
      }
    }
  }

  .client-group-select {
    margin-top: 10px;
  }
}

#files-title {
  padding-bottom: 0;
  margin-bottom: -10px;
}