.pagination { 
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $brand-a;
}

.pagination__label {
  float: left;
  line-height: 1.5;
}

.pagination__list {
  float: left;
  list-style: none;
  margin: 0;
}

.pagination__list-item {
  float: left;
  
}

.pagination__link {
  padding: 0 10px;
  cursor: pointer;

  &--current {
    cursor: default;
    font-style: oblique;
    color: $brand-a;
  }
}