.split {
  @include cf();

  .block__content & {
    margin: 40px 0;
  }

  &--admin-panel {
    overflow: hidden;
    margin: 1em 0px!important;
  }

  &__element {
    @include cf();
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include mq($from: m) {
      @include span(4 of $grid-column);
      margin-bottom: 0;

      &:last-of-type {
        @include last();
      }
    }

    .split--single & {
      @include mq($from: m) {
        float: left!important;
      }
    }

    &--admin-panel {
      @include mq($from: m) {
        @include span(6 of 12);
        margin-bottom: -99999px!important;
        padding-bottom: 99999px;
      }
      padding-left: 1rem;
      padding-right: 1rem;
      background: #eee;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      h2 {
        width: calc(100% + 2rem);
        padding: 1rem;
        margin-top: 0;
        margin-left: -1rem;
        background: $brand-a;
        color: #fff;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .btn {
        float: left;
        margin-right: 1rem;
      }
      article {
        border-top: 1px solid gray;
        clear: both;
        margin-top: 1rem;
        padding-top: 1rem;
        h3 {
          float: left;
          width: auto;
        }
        address {
          width: 100%;
          font-style: normal;
          font-weight: bold;
        }
        &.service-provider__item {
          h3 {
            width: 12em;
          }
        }
      }
    }

    .split--reverse & {
      @include mq($from: m) {
        &:first-of-type {
          @include last();
        }

        &:last-of-type {
          @include first();
        }
      }
    }
  }
}
