.stacked-list {
  @include cf();
  padding: 0;
  list-style-type: none;
  margin: 0 auto;

  &__item {
    @include cf();

    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;

    &--action-group {
      cursor: pointer;
      action-group__heading {
        color: $brand-c;
        text-decoration: underline;
      }
    }
  }
  &__header {
    float: left;
    margin-right: 1em;

    .stacked-list__item--service-providers & {
      @include span(3 of 6)
    }
  }

  &__heading {
    margin-top: 0;
  }
  &__button {
    margin-right: .5em;
    position: relative;
  }
}
