.svg-close-dims {
    width: 25.5px;
    height: 25.5px;
}

.svg-logo-dims {
    width: 52.4px;
    height: 55.7px;
}

.svg-minus-dims {
    width: 30px;
    height: 2px;
}

.svg-nav-dims {
    width: 512px;
    height: 512px;
}

.svg-plus-dims {
    width: 30px;
    height: 30px;
}

