.volunteer {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  position: relative;
  padding: 20px;

  &--highlighted {
    background: rgba(255,162,0, 0.5)
  }

  &__header {
    @include cf();
  }

  &__heading {
    float: left;
    margin: 0;
  }

  &__sub-heading {
    clear: both;
  }

  &__details-list {
    @include cf();
    margin-bottom: 10px;
  }

  &__details-item {
    @include mq($from: m) {
      @include span(1 of 3);

      &:last-child {
        @include last();
      }
    }
  }

  &__actions {
    @include cf();
    text-align: right;
  }
}

.highlight-item {

  &__label {
    top: 0px;
    right: 0px;
    z-index: 100;
    position: absolute;
    display: block;
    text-align: right;
    padding: 26px 3em;
  }

  &__checkbox {
    position: absolute;
    right: 20px;
    top: 28px;
  }
}
