---
title: Accommodation Feedback - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: tempAccomReviews
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
    <h1>Feedback</h1>
    <p data-bind="text: address"></p>
    <a href="/accommodation/" class="btn btn--info">
      <span class="btn__text">Back to listing</span>
    </a>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content form">
      <h2>Add New Feedback</h2>
      {{> form-feedback}}
      <!-- ko ifnot: reviewIsCreated -->
      <article data-bind="with: newItem">
        <div data-bind="with: formFields">
          {{> accom-review }}
        </div>
        <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
      </article>
      <!-- /ko -->
      <!-- ko if: reviewIsCreated -->
        <!-- ko ifnot: personalFeedbackIsSent -->
        <article data-bind="with: personalFeedback">
          <div data-bind="with: formFields">
            {{> accom-review-comments }}
          </div>
          <button data-bind="click: update" class="btn btn--primary"><span class="btn__text">save</span></button>
        </article>
        <!-- /ko -->
      <!-- /ko -->
    </div>
  </div>
</div>
{{> loading-spinner}}
