---
title: Login - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: auth0-login
page: login
nosubnav: true
---

<div class="block block--highlight">
  <div class="container block__inner">
    <header>
      <h1>Welcome to Street Support Network Admin</h1>
    </header>
  </div>
</div>
<div class="block">
  <div class="container block__inner">
    <form class="form">
      <legend>Please click login to proceed:</legend>
      <button data-bind="click: submit" class="btn btn--info">
        <span class="btn__text">Login</span>
      </button>
      <p>This will take you to Auth0, our identity provider.</p>
    </form>
  </div>
</div>
