---
title: Login - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: auth0-login
page: login
nosubnav: true
---

<div class="block block--highlight">
  <div class="container block__inner">
    <header>
      <h1>Welcome to Street Support Network Admin</h1>
    </header>
  </div>
</div>
<div class="block">
  <div class="container block__inner">
    <div class="highlight">
      <h2 class="h2">We've changed how our login works.</h2>
      <p class="h3">Clicking the button below will take you to https://streetsupport.eu.auth0.com/. If this is the first time you have seen this, you need to click on "Don't remember your password?" and enter your email address. You will then receive an email with a link to set a new password.</p>
      <p>If you can't remember which email you used to register, or are having any other problems, please <a href="mailto:admin@streetsupport.net">email us for help</a>.</p>
    </div>
    <form class="form">
      <legend>Please click login to proceed:</legend>
      <button data-bind="click: submit" class="btn btn--info">
        <span class="btn__text">Login</span>
      </button>
    </form>
    {{!-- <a href="request-reset-password.html">Forgotten password?</a> --}}
  </div>
</div>
