---
title: Mailing List - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: mailingList
page: mailingList
nosubnav: true
---

<div class="block block--highlight">
  <div class="container block__inner">
    <header>
      <h1>Mailing List</h1>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content">
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody data-bind="template: { name: 'group', foreach: members }"></tbody>
      </table>
      {{> loading-spinner}}
    </div>
  </div>
</div>

<script type="text/html" id="members">
  <tr>
      <td data-bind="text: type"></td>
      <td data-bind="html: name"></td>
      <td data-bind="text: email"></td>
  </tr>
</script>
