<h2>Accommodation</h2>
<a data-bind="attr: { href: viewAccomUrl }" class="btn btn--primary">
  <span class="btn__text">View all</span>
</a>

<a data-bind="attr: { href: addAccomUrl }" class="btn btn--info">
  <span class="btn__text">Add new</span>
</a>
