<h2>Accommodation</h2>
<a href="/accommodation" class="btn btn--primary">
  <span class="btn__text">View all</span>
</a>

<a href="/accommodation/add" class="btn btn--info">
  <span class="btn__text">Add new</span>
</a>