<h2>General Details</h2>
  <!-- ko ifnot: $parent.isEditingGeneralDetails -->
  <button data-bind="click: $parent.editGeneralDetails" class="btn btn--info"><span class="btn__text">edit</span></button>
  <!-- /ko -->
  <!-- ko template: { name: 'general-info-buttons' } --><!-- /ko -->
  <dl class="key-value-pair">
    <dt class="key-value-pair__key">Name</dt>
    <dd class="key-value-pair__value">
      <!-- ko ifnot: $parent.isEditingGeneralDetails -->
      <span data-bind="html: name"></span>
      <!-- /ko -->
      <!-- ko if: $parent.isEditingGeneralDetails -->
      <input data-bind="textInput: name" class="form__input" />
      <!-- /ko -->
    </dd>
    <dt class="key-value-pair__key" data-claims="superadmin">Associated Locations</dt>
    <dd class="key-value-pair__value" data-claims="superadmin">
      <!-- ko ifnot: $parent.isEditingGeneralDetails -->
      <span data-bind="html: city"></span>
      <!-- /ko -->
      <!-- ko if: $parent.isEditingGeneralDetails -->
      <select size="5" multiple="true" data-bind="options: availableCities,
          optionsValue: function (item) { return item.id },
          optionsText:  function (item) { return item.name },
          selectedOptions: city,
          optionsCaption: '-- please select --'" class="form__input"></select>
      <!-- /ko -->
    </dd>
    <dt class="key-value-pair__key">Short Description</dt>
    <dd class="key-value-pair__value">
      <!-- ko ifnot: $parent.isEditingGeneralDetails -->
      <span data-bind="html: shortDescription"></span>
      <!-- /ko -->
      <!-- ko if: $parent.isEditingGeneralDetails -->
      <textarea data-bind="textInput: shortDescription" class="form__input" rows="2" maxlength="50"></textarea>
      <!-- /ko -->
    </dd>
    <dt class="key-value-pair__key">Description</dt>
    <dd class="key-value-pair__value">
      <!-- ko ifnot: $parent.isEditingGeneralDetails -->
      <span data-bind="html: readOnlyDescription"></span>
      <!-- /ko -->
      <!-- ko if: $parent.isEditingGeneralDetails -->
      <textarea data-bind="textInput: description" class="form__input form__input--textarea" rows="7"></textarea>
      <!-- /ko -->
    </dd>
    <dt class="key-value-pair__key">Client Groups</dt>
    <dd class="key-value-pair__value">
      <!-- ko ifnot: $parent.isEditingGeneralDetails -->
      <span data-bind="html: clientGroups"></span>
      <!-- /ko -->
      <!-- ko if: $parent.isEditingGeneralDetails -->
      <select size="5" multiple="true" data-bind="options: availableClientGroups,
          optionsValue: function (item) { return item.key },
          optionsText:  function (item) { return item.name },
          selectedOptions: clientGroups,
          optionsCaption: '-- please select --'" class="form__input"></select>
      <!-- /ko -->
    </dd>
    <dt class="key-value-pair__key">Tags</dt>
    <dd class="key-value-pair__value">
      <dl class="key-value-pair" data-bind="foreach: tags">
        <dt class="key-value-pair__key key-value-pair__key--inline" data-bind="text: name"></dt>
        <!-- ko ifnot: $root.isEditingGeneralDetails -->
        <dd class="key-value-pair__value" data-bind="text: isSelected"></dd>
        <!-- /ko -->
        <!-- ko if: $root.isEditingGeneralDetails -->
        <dd class="key-value-pair__value">
          <input type="checkbox" data-bind="checked: isSelected" />
        </dd>
        <!-- /ko -->
      </dl>
    </dd>
  </dl>
  <!-- ko template: { name: 'general-info-buttons' } --><!-- /ko -->

  <script type="text/html" id="general-info-buttons">
  <!-- ko if: $parent.isEditingGeneralDetails -->
  <button data-bind="click: $parent.cancelEditGeneralDetails" class="btn btn--indifferent"><span class="btn__text">cancel</span></button>
  <button data-bind="click: $parent.saveGeneralDetails" class="btn btn--primary"><span class="btn__text">save</span></button>
  <!-- /ko -->
  </script>
