<header>
  <h2>Locations</h2>
  <a data-bind="attr: { 'href': addAddressUrl }" title="add location" class="btn btn--primary">
    <span class="btn__text">Add</span>
  </a>
</header>
<div data-bind="foreach: addresses">
  <article class="key-value-pair location service-provider__item">
    <h3 data-bind="html: formatted" class="key-value-pair__key"></h3>
    <a data-bind="attr: { 'href': editAddressUrl }" title="edit location" class="btn btn--info">
      <span class="btn__text">Edit</span>
    </a>
    <a data-bind="click: deleteAddress" title="delete location" class="btn btn--warning">
      <span class="btn__text">Delete</span>
    </a>
  </article>
</div>