<h2>Services</h2>
<a data-bind="attr: { 'href': addServiceUrl }" title="add services" class="btn btn--primary">
  <span class="btn__text">Add</span>
</a>
<div data-bind="foreach: groupedServices">
  <article class="service-provider__item">
    <div class="service-provider__item-title">
      <h3 data-bind="text: name"></h3>
      <p data-bind="text: subCatList"></p>
    </div>
    <a data-bind="attr: { 'href': editServiceUrl }" title="edit service" class="btn btn--info">
      <span class="btn__text">Edit</span>
    </a>
    <a data-bind="click: deleteService" title="delete service" class="btn btn--warning">
      <span class="btn__text">Delete</span>
    </a>
  </article>
</div>