---
title: Edit Location Advice - Street Support Admin
description: Street Support - Making it easier to help homeless people
layout: default.hbs
permalink: false
jsBundle: advice-edit
page: advice
nosubnav: true
---

<div class="block block--highlight">
  <div class="container block__inner">
    <header>
      <h1>Edit Location Advice Q&amp;A Content</h1>
      <a class="btn btn--info" href="/advice">
        <span class="btn__text">Back to Listing</span>
      </a>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content form">
      {{> form-feedback}}
      <article>
        <dl class="key-value-pair">
          <dt class="key-value-pair__key">Title</dt>
          <dd class="key-value-pair__value">
            <input data-bind="textInput: title" type="text" class="form__input" />
          </dd>
          <dt class="key-value-pair__key">Location</dt>
          <dd class="key-value-pair__value">
            <select data-bind="options: locations,
              value: locationKey,
              optionsValue: function (item) { return item.id },
              optionsText:  function (item) { return item.name },
              optionsCaption: '-- please select --'" class="form__input"></select>
          </dd>
          <dt class="key-value-pair__key">Parent Scenarios</dt>
          <dd class="key-value-pair__value">
            <span data-bind="html: parentScenarioNames"></span>
            <select size="5" multiple="true" data-bind="options: parentScenarios,
                optionsValue: function (item) { return item.id },
                optionsText:  function (item) { return item.name },
                selectedOptions: parentScenarioIds,
                optionsCaption: '-- please select --'" class="form__input client-group-select"></select>
          </dd>
          <dt class="key-value-pair__key">Body</dt>
          <dd class="key-value-pair__value">
            <textarea data-bind="textInput: body" class="form__input" rows="20"></textarea>
          </dd>
          <dt class="key-value-pair__key">Tags - comma separated keywords</dt>
          <dd class="key-value-pair__value">
            <input data-bind="textInput: tags" placeholder="eg: furniture, rent, landlord" type="text" class="form__input" />
          </dd>
          <dt class="key-value-pair__key">Sort Position - a higher value places this nearer the top of the listing</dt>
          <dd class="key-value-pair__value">
            <input data-bind="textInput: sortPosition" type="number" min="0" class="form__input" />
          </dd>
        </dl>
        <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
      </article>
      {{> loading-spinner }}
    </div>
  </div>
</div>