---
title: Contact About Offer - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: contactAboutOffer
page: offersOfItems
section: offersOfItems
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header data-bind="with: volunteer">
      <h1>Contact <span data-bind="text: person.firstName"></span>
        <span data-bind="text: person.lastName"></span>
      <!-- ko if: person.telephone -->
        (<span data-bind="text: person.telephone"></span>)
      <!-- /ko -->
      </h1>
    </header>
  </div>
</div>
<div class="block">
  <div class="container block__inner">
    <div class="block__content" data-bind="with: volunteer">
      <h2>Offer Description</h2>
      <p data-bind="html: description"></p>
      <!-- ko if: additionalInfo -->
      <h3>Additional Info</h3>
      <p data-bind="html: additionalInfo"></p>
      <!-- /ko -->
      <a href="/offers-of-items/" class="btn btn--info">
        <span class="btn__text">Back to Offers</span>
      </a>
    </div>
  </div>
</div>
<div class="block">
  <div class="container block__inner">
    <div class="block__content">
      <!-- ko if: isFormSubmitSuccessful -->
        <!-- ko template: { name: 'form-submit-success-template' } --><!-- /ko -->
      <!-- /ko -->
      <!-- ko if: isFormSubmitFailure -->
        <!-- ko template: { name: 'form-submit-failure-template' } --><!-- /ko -->
      <!-- /ko -->
      <!-- ko ifnot: isFormSubmitSuccessful -->
      <form class="form">
        <legend class="h2 form__fieldset-title">Contact About Offer</legend>
        <p>To email the person offering this item, enter your message in the text area, and press "<em>send email</em>".</p>
        <p>If you have contacted the person in some other way, please leave some notes regarding your conversation as a record of your contact, press "<em>record contact log</em>".</p>
        <fieldset class="form__fieldset" data-bind="with: formModel">
          <ul class="form__field-list">
            <li class="form__field-item form__field-item--full">
              <label class="form__label" for="message">Message/Notes</label>
              <textarea class="form__input form__input--textarea" id="message" data-bind="value: message" placeholder="required"></textarea>
            </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--primary form__submit" data-bind="click: sendEmail">
          <span class="btn__text">Send Email</span>
        </button>
        <button type="submit" class="btn btn--info form__submit" data-bind="click: recordLog">
          <span class="btn__text">Record Contact Log</span>
        </button>
      </form>
      <!-- /ko -->
    </div>
  </div>
</div>

{{> loading-spinner}}
<script type="text/html" id="contact-form">
</script>

<script type="text/html" id="form-submit-success-template">
  <h2>Your message has been sent</h2>
</script>

<script type="text/html" id="form-submit-failure-template">
  <h2>There was a problem with your submission:</h2>
  <ul data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
  </ul>
</script>
