---
title: Forbidden - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
jsName: generic
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--highlight">
      <div class="container block__inner">
        <header>
          <h1>Incorrect Permissions</h1>
        </header>
      </div>
    </div>
    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <p>Sorry, you do not have the correct permissions to view the page requested. If you believe you should, please email us at: <a href="mailto:admin@streetsupport.net">admin@streetsupport.net</a>, or <a href="/login.html">login as a different user</a>.</p>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
