---
title: Add Service Provider Address - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: addServiceProviderAddress
pageName: addServiceProviderAddress
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--highlight">
      <div class="container block__inner">
          <header>
            <h1>Add Address</h1>
          </header>
        </div>
      </div>
    </div>
    <div class="block awaiting-data">
      <div class="container block__inner">
        <div class="block__content form">
          <article data-bind="with: address">
            {{> form-feedback}}
            {{> address}}
            {{> opening-times}}
            <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
          </article>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
