---
title: Charter Pledges - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: charterPledges
pageName: charterPledges
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--highlight">
      <div class="container block__inner">
        <header>
        <h1>Charter Pledges</h1>
        </header>
      </div>
    </div>
    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <div data-bind="foreach:pledges">
            <!-- ko template: { name: 'pledge' } --><!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  {{/content}}
  {{#content "gutter"}}

  {{> loading-spinner}}
  <script type="text/html" id="pledge">
  <article>
    <dl class="key-value-pair">
      <dt class="key-value-pair__key">Pledge</dt>
      <dd class="key-value-pair__value" data-bind="text:description"></dd>
      <dt class="key-value-pair__key">Name</dt>
      <dd class="key-value-pair__value" data-bind="text:fullName"></dd>
      <dt class="key-value-pair__key">Organisation</dt>
      <dd class="key-value-pair__value" data-bind="text:organisation"></dd>
    </dl>
  </article>
  <button data-bind="click: toggleApproval, attr: { class: buttonClass }">
    <span class="btn__text" data-bind="text: buttonLabel"></span>
  </button>
  </script>

  {{/content}}
{{/extend}}
