---
title: Charter Pledges - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: charterPledges
pageName: charterPledges
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--highlight">
      <div class="container block__inner">
        <header>
        <h1>Charter Pledges</h1>
        <button data-bind="click: toggleShowAll" class="btn btn--info">
          <span data-bind="text: showAllButtonLabel"></span>
        </button>
        </header>
      </div>
    </div>
    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <div data-bind="foreach:pledges">
            <!-- ko template: { name: 'pledge' } --><!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  {{/content}}
  {{#content "gutter"}}

  {{> loading-spinner}}
  <script type="text/html" id="pledge">
  <article class="pledge">
    <!-- ko ifnot: isEditable -->
    <p data-bind="html:description" class="pledge__description"></p>
    <!-- /ko -->
    <!-- ko if: isEditable -->
    <div data-bind="with: formModel" class="form__field-item form__field-item--full">
      <textarea class="form__input form__input--textarea" data-bind="textInput:description"></textarea>
    </div>
    <!-- /ko -->
    <p class="pledge__author">
      <span class="pledge__author-name" data-bind="text:fullName"></span> (<a data-bind="text:email, attr: { href: mailToLink }" class="pledge__author-email"></a>) <span data-bind="text:organisation" class="pledge__author-organisation"></span> Submitted on: <span data-bind="text:creationDate" class="pledge__author-creationDate"></span>
    </p>
    <!-- ko ifnot: isEditable -->
    <button data-bind="click: toggleApproval, attr: { class: buttonClass }">
      <span class="btn__text" data-bind="text: buttonLabel"></span>
    </button>
    <button data-bind="click: editPledge" class="btn btn--info">
      <span class="btn__text">Edit</span>
    </button>
    <button data-bind="click: deletePledge" class="btn btn--warning">
      <span class="btn__text">Delete</span>
    </button>
    <!-- /ko -->
    <!-- ko if: isEditable -->
    <button data-bind="click: updatePledge" class="btn btn--primary">
      <span class="btn__text">Save</span>
    </button>
    <button data-bind="click: cancelEdit" class="btn btn--indifferent">
      <span class="btn__text">Cancel</span>
    </button>
    <!-- /ko -->
  </article>
  </script>

  {{/content}}
{{/extend}}
