---
title: Contact Volunteer - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: contactVolunteer
pageName: contactVolunteer
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--highlight admin-header__alt">
      <div class="container block__inner">
        <header>
        <h1>Contact Volunteer</h1>
        </header>
      </div>
    </div>
    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
        <!-- ko if: isFormSubmitSuccessful -->
          <!-- ko template: { name: 'form-submit-success-template' } -->
          <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: isFormSubmitFailure -->
          <!-- ko template: { name: 'form-submit-failure-template' } -->
          <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: isFormSubmitSuccessful -->
        <form class="form" data-bind="submit: submit">
          <p>Please enter your message to this volunteer below, including details on how they should contact you.</p>
          <p>* denotes a required field.</p>
          <fieldset class="form__fieldset" data-bind="with: formModel">
            <legend class="h2 form__fieldset-title">Contact Volunteer</legend>
            <ul class="form__field-list">
              <li class="form__field-item form__field-item--full">
                <label class="form__label" for="message">Message *</label>
                <textarea class="form__input form__input--textarea" id="message" data-bind="value: message"></textarea>
              </li>
            </ul>
          </fieldset>
          <button type="submit" class="btn btn--primary form__submit" data-bind="click: submit"><span class="btn__text">Submit</span></button>
        </form>
        <!-- /ko -->
        </div>
      </div>
    </div>
  {{/content}}
  {{#content "gutter"}}

  {{> loading-spinner}}
  <script type="text/html" id="contact-form">
  </script>

  {{/content}}
{{/extend}}

<script type="text/html" id="form-submit-success-template">
  <h2>Your message has been sent</h2>
</script>

<script type="text/html" id="form-submit-failure-template">
  <h2>There was a problem with your submission:</h2>
  <ul data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
  </ul>
</script>
