---
title: Dashboard - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: dashboard
pageName: dashboard
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--highlight">
      <div class="container block__inner">
        <header>
          <h1>Dashboard</h1>
          <a href="add-service-provider.html" class="btn btn--info">
            <span class="btn__text">Add Service Provider</span>
          </a>
        </header>
      </div>
    </div>
    <div class="block awaiting-data">
      <div class="container block__inner">
      {{> form-feedback}}
      <section class="block__content" data-bind="foreach: serviceProviders" class="stacked-list">
          <article class="stacked-list__item">
              <header class="stacked-list__element--header">
                <h2><a data-bind="attr: { 'href': url, 'title': name }, html: name"></a></h2>
                <span data-bind="text: verifiedLabel, css: verifiedLabelClass"></span>
                <span data-bind="text: publishedLabel, css: publishedLabelClass"></span>
              </header>
              <button data-bind="click: $parent.toggleVerified" class="btn btn--info">
                <span data-bind="text: toggleVerificationButtonLabel" class="btn__text"></span>
              </button>
              <button data-bind="click: $parent.togglePublished" class="btn btn--info">
                <span data-bind="text: togglePublishButtonLabel" class="btn__text"></span>
              </button>
              <a data-bind="attr: { href: newUserUrl }" class="btn btn--primary">
                <span class="btn__text">New User</span>
              </a>
          </article>
      </section>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
