---
title: Edit Service Provider Address - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: editServiceProviderAddress
pageName: editServiceProviderAddress
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--cta">
      <div class="container block__inner">
        <div class="block__content form">
            <article data-bind="with: address">
              <p data-bind="text: message"></p>
              <!-- ko if: hasErrors -->
              <h2>There were errors in your submission:</h2>
              <ul data-bind="foreach: errors">
                <li data-bind="text: $data"></li>
              </ul>
              <!-- /ko -->
              <h3 data-bind="text: street1"></h3>
              <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
              <dl class="key-value-pair">
                <dt class="key-value-pair__key">Street Line 1</dt>
                <dd class="key-value-pair__value">
                  <input data-bind="textInput: street1" type="text" />
                </dd>
                <dt class="key-value-pair__key">Street Line 2</dt>
                <dd class="key-value-pair__value">
                  <input data-bind="textInput: street2" type="text" />
                </dd>
                <dt class="key-value-pair__key">Street Line 3</dt>
                <dd class="key-value-pair__value">
                  <input data-bind="textInput: street3" type="text" />
                </dd>
                <dt class="key-value-pair__key">Street Line 4</dt>
                <dd class="key-value-pair__value">
                  <input data-bind="textInput: street4" type="text" />
                </dd>
                <dt class="key-value-pair__key">City</dt>
                <dd class="key-value-pair__value">
                  <input data-bind="textInput: city" type="text" />
                </dd>
                <dt class="key-value-pair__key">Postcode</dt>
                <dd class="key-value-pair__value">
                  <input data-bind="textInput: postcode" type="text" />
                </dd>
              </dl>
              <h4>Opening Times</h4>
              <button data-bind="click: newOpeningTime" class="btn btn--info"><span class="btn__text">new</span></button>
              <dl data-bind="foreach: openingTimes" class="key-value-pair">
                <dt class="key-value-pair__key">
                  <select data-bind="options: days,
                     optionsText: $data,
                     value: day,
                     optionsCaption: '-- please select --'"></select>
                </dt>
                <dd class="key-value-pair__value">
                  <input data-bind="textInput: startTime" type="text" /> - <input data-bind="textInput: endTime" type="text" />
                </dd>
                <dd class="key-value-pair__value">
                  <button data-bind="click: $parent.removeOpeningTime" class="btn btn--warning"><span class="btn__text">remove</span></button>
                </dd>
              </dl>
            </article>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
