---
title: Login - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: login
pageName: login
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block">
      <div class="container block__inner">
        <h1>Login</h1>
        <form class="form">
            <p data-bind="text: message"></p>
            <!-- ko if: hasErrors -->
            <h2>There were errors in your submission:</h2>
            <ul data-bind="foreach: errors">
              <li data-bind="text: $data"></li>
            </ul>
            <!-- /ko -->
            <dl class="key-value-pair">
              <dt class="key-value-pair__key">Username</dt>
              <dd class="key-value-pair__value"><input data-bind="textInput: username" type="text" name="username" />
              </dd>
              <dt class="key-value-pair__key">Password</dt>
              <dd class="key-value-pair__value"><input data-bind="textInput: password" type="password" name="password" />
              </dd>
            </dl>
          <button data-bind="click: submit" class="btn btn--primary">
            <span class="btn__text">Login</span>
          </button>
        </form>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
