---
title: Reset Password - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: requestResetPassword
pageName: requestResetPassword
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--highlight">
      <div class="container block__inner">
        <header>
          <h1>Reset Password</h1>
        </header>
      </div>
    </div>
    <div class="block">
      <div class="container block__inner">
        <!-- ko if: isSubmissionSuccessful -->
        <p>An email has been sent with a link to reset your password. If you still require help, please <a href="mailto:admin@streetsupport.net">contact us</a>.</p>
        <!-- /ko -->
        <!-- ko ifnot: isSubmissionSuccessful -->
        <p>Please enter the email address you registered with, and we'll send you a link to reset your password.</p>
        <p>If you cannot remember your email, please <a href="mailto:admin@streetsupport.net">contact us</a>.</p>
        <form class="form">
          {{> form-feedback}}
          <dl class="key-value-pair">
            <dt class="key-value-pair__key">Email</dt>
            <dd class="key-value-pair__value">
              <input data-bind="textInput: email" type="text" class="form__input" />
            </dd>
          </dl>
          <button data-bind="click: submit" class="btn btn--primary">
            <span class="btn__text">Submit</span>
          </button>
        </form>
        <!-- /ko -->
      </div>
    </div>
  {{/content}}
  {{#content "gutter"}}{{/content}}
{{/extend}}
