---
title: Service Provider Services - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: serviceProviderServices
pageName: serviceProviderServices
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block">
      <div class="container block__inner">
        <div class="block__content form">
          <div data-bind="with: serviceProvider">
            <h1 data-bind="text: name"></h1>
            <h2>Services</h2>
            <a data-bind="attr: { href: $parent.addServiceLink}">Add Service</a>
            <div data-bind="foreach: services">
              <p data-bind="text: message"></p>
              <article>
                <h3 data-bind="text: name"></h3>
                <!-- ko ifnot: isEditing -->
                <button data-bind="click: edit" class="btn btn--info"><span class="btn__text">edit</span></button>
                <button data-bind="click: deleteService" class="btn btn--warning"><span class="btn__text">delete</span></button>
                <!-- /ko -->
                <!-- ko if: isEditing -->
                <button data-bind="click: cancelEdit" class="btn btn--indifferent"><span class="btn__text">cancel</span></button>
                <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
                <!-- /ko -->
                <dl class="key-value-pair">
                  <dt class="key-value-pair__key">Description</dt>
                  <dd class="key-value-pair__value">
                    <!-- ko ifnot: isEditing -->
                    <span data-bind="text: info"></span>
                    <!-- /ko -->
                    <!-- ko if: isEditing -->
                    <textarea data-bind="textInput: info"></textarea>
                    <!-- /ko -->
                  </dd>
                  <dt class="key-value-pair__key">Target users</dt>
                  <dd class="key-value-pair__value">
                    <!-- ko ifnot: isEditing -->
                    <span data-bind="text: tags"></span>
                    <!-- /ko -->
                    <!-- ko if: isEditing -->
                  <textarea data-bind="textInput: tags"></textarea>
                    <!-- /ko -->
                  </dd>
                </dl>
                <h4>Address</h4>
                <div data-bind="with: address">
                  <dl class="key-value-pair">
                    <dt class="key-value-pair__key">Street Line 1</dt>
                    <dd class="key-value-pair__value">
                      <!-- ko ifnot: $parent.isEditing -->
                      <span data-bind="text: street1"></span>
                      <!-- /ko -->
                      <!-- ko if: $parent.isEditing -->
                      <input data-bind="textInput: street1" type="text" />
                      <!-- /ko -->
                    </dd>
                    <dt class="key-value-pair__key">Street Line 2</dt>
                    <dd class="key-value-pair__value">
                      <!-- ko ifnot: $parent.isEditing -->
                      <span data-bind="text: street2"></span>
                      <!-- /ko -->
                      <!-- ko if: $parent.isEditing -->
                      <input data-bind="textInput: street2" type="text" />
                      <!-- /ko -->
                    </dd>
                    <dt class="key-value-pair__key">Street Line 3</dt>
                    <dd class="key-value-pair__value">
                      <!-- ko ifnot: $parent.isEditing -->
                      <span data-bind="text: street3"></span>
                      <!-- /ko -->
                      <!-- ko if: $parent.isEditing -->
                      <input data-bind="textInput: street3" type="text" />
                      <!-- /ko -->
                    </dd>
                    <dt class="key-value-pair__key">Street Line 4</dt>
                    <dd class="key-value-pair__value">
                      <!-- ko ifnot: $parent.isEditing -->
                      <span data-bind="text: street4"></span>
                      <!-- /ko -->
                      <!-- ko if: $parent.isEditing -->
                      <input data-bind="textInput: street4" type="text" />
                      <!-- /ko -->
                    </dd>
                    <dt class="key-value-pair__key">City</dt>
                    <dd class="key-value-pair__value">
                      <!-- ko ifnot: $parent.isEditing -->
                      <span data-bind="text: city"></span>
                      <!-- /ko -->
                      <!-- ko if: $parent.isEditing -->
                      <input data-bind="textInput: city" type="text" />
                      <!-- /ko -->
                    </dd>
                    <dt class="key-value-pair__key">Postcode</dt>
                    <dd class="key-value-pair__value">
                      <!-- ko ifnot: $parent.isEditing -->
                      <span data-bind="text: postcode"></span>
                      <!-- /ko -->
                      <!-- ko if: $parent.isEditing -->
                      <input data-bind="textInput: postcode" type="text" />
                      <!-- /ko -->
                    </dd>
                  </dl>
                </div>
                <h4>Opening Times</h4>
                <!-- ko if: isEditing -->
                <button data-bind="click: newOpeningTime" class="btn btn--info"><span class="btn__text">new</span></button>
                <!-- /ko -->
                <dl data-bind="foreach: openingTimes" class="key-value-pair">
                  <dt class="key-value-pair__key">
                    <!-- ko ifnot: $parent.isEditing -->
                    <span data-bind="text: day"></span>
                    <!-- /ko -->
                    <!-- ko if: $parent.isEditing -->
                    <select data-bind="options: days,
                       optionsText: $data,
                       value: day,
                       optionsCaption: '-- please select --'"></select>
                    <!-- /ko -->
                  </dt>
                  <dd class="key-value-pair__value">
                    <!-- ko ifnot: $parent.isEditing -->
                    <span data-bind="text: startTime"></span> - <span data-bind="text: endTime"></span>
                    <!-- /ko -->
                    <!-- ko if: $parent.isEditing -->
                    <input data-bind="textInput: startTime" type="text" /> - <input data-bind="textInput: endTime" type="text" />
                    <!-- /ko -->
                  </dd>
                    <!-- ko if: $parent.isEditing -->
                  <dd class="key-value-pair__value">
                    <button data-bind="click: $parent.removeOpeningTime" class="btn btn--warning"><span class="btn__text">remove</span></button>
                  </dd>
                    <!-- /ko -->
                </dl>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
