---
title: Volunteers - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: volunteers
pageName: volunteers
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--highlight">
      <div class="container block__inner">
        <header>
        <h1>Volunteers</h1>
        </header>
      </div>
    </div>
    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <div data-bind="foreach:volunteers">
            <!-- ko template: { name: 'volunteer' } --><!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  {{/content}}
  {{#content "gutter"}}

  {{> loading-spinner}}
  <script type="text/html" id="volunteer">
    <article class="volunteer">
    <header>
      <h1><span data-bind="text:person.firstName"></span> <span data-bind="text:person.lastName"></span></h1>
      <span data-bind="text: person.email"></span> <span data-bind="text: person.telephone"></span>
    </header>
    <dl class="key-value-pair">
      <dt class="key-value-pair__key">Skills and Experience</dt>
      <dd class="key-value-pair__value" data-bind="text:skillsAndExperience.description"></dd>
      <dt class="key-value-pair__key">Resources</dt>
      <dd class="key-value-pair__value" data-bind="text:resources.description"></dd>
      <dt class="key-value-pair__key">Availability</dt>
      <dd class="key-value-pair__value" data-bind="text:availability.description"></dd>
    </dl>
    </article>
  </script>

  {{/content}}
{{/extend}}
