---
title: Dashboard - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: dashboard
page: dashboard
nosubnav: true
---

<div class="block">
  <div class="container block__inner">
    <div class="split">
      <div class="split__element">
        <section data-bind="with: spSearch" data-claims="superadmin,cityadmin">
          <h2>Service Providers</h2>
          <form class="form" data-bind="submit: submitSearch">
            <fieldset class="form__fieldset">
              <legend class="form__legend">Find Service Provider</legend>
              <ul class="form__field-list search-dropdown">
                <li class="form__field-item form__field-item--full">
                  <label for="filterByName" class="form__label hide-screen">Name:</label>
                  <input type="text" name="filterByName" autocomplete="off" class="form__input form__input--full search-dropdown__query-field"
                    data-bind="textInput: nameQuery, attr: { tabindex: tabIndex }" placeholder="eg. Street Support"></input>
                  <!-- ko if: canClearResults -->
                  <button class="search-dropdown__clear-btn" data-bind="click: clear">x</button>
                  <!-- /ko -->
                </li>
                <!-- ko if: canClearResults -->
                <li class="form__field-item form__field-item--full search-dropdown__results-container">
                  <ul class="search-dropdown__results" data-bind="foreach: searchResults">
                    <li class="search-dropdown__result-item">
                      <!-- ko if: hasUrl -->
                      <a class="search-dropdown__result-item-link" data-bind="attr: { href: url, tabindex: tabIndex }, text: name"></a>
                      <!-- /ko -->
                      <!-- ko ifnot: hasUrl -->
                      <span class="search-dropdown__result-item-no-link" data-bind="text: name"></span>
                      <!-- /ko -->
                    </li>
                  </ul>
                </li>
                <!-- /ko -->
              </ul>
            </fieldset>
          </form>
        </section>
        <section data-claims="orgadmin">
          <h2>My Organisation</h2>
          <a data-bind="attr: { href: editOrgUrl }" class="btn btn--primary">
            <span class="btn__text">Update Organisation Details</span>
          </a>
        </section>
        <section data-bind="with: newlyRegisteredProviders" data-claims="superadmin,cityadmin">
          <h3>Latest Orgs Awaiting Publishing</h3>
          <ul data-bind="foreach: providers">
            <li>
              <a data-bind="attr: { href: viewSPUrl }, html: name"></a>
            </li>
          </ul>
          <a href="/service-providers" class="btn btn--info">
            <span class="btn__text">View all Service Providers</span>
          </a>
        </section>
        {{> dashboard/latestVolunteers }}
        {{> dashboard/latestOffers }}
      </div>

      <div class="split__element">
        <section data-bind="with: latestNeeds">
          <h2>Needs</h2>
          <table>
            <thead>
              <th data-claims="superadmin,cityadmin">org</th>
              <th>date</th>
              <th>need</th>
              <th></th>
            </thead>
            <tbody data-bind="foreach: needs">
              <tr>
                <td data-claims="superadmin,cityadmin" data-bind="html: serviceProviderName"></td>
                <td data-bind="text: neededDate"></td>
                <td data-bind="html: description"></td>
                <td><a data-bind="attr: { href: viewSPUrl }">view</a></td>
              </tr>
            </tbody>
          </table>
          <a data-claims="orgadmin" data-bind="attr: { href: $parent.addNeedUrl }" class="btn btn--primary">
            <span class="btn__text">Add new Need</span>
          </a>
        </section>
        <section data-bind="with: needResponses" data-claims="orgadmin">
          <h2>Latest Responses to Needs</h2>
          <table>
            <thead>
              <th>message</th>
              <th></th>
            </thead>
            <tbody data-bind="foreach: responses">
              <tr>
                <td data-bind="html: message"></td>
                <td><a data-bind="attr: { href: viewUrl }">view</a></td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>
