<label>
  <span class="key-value-pair__key key-value-pair__key--inline">{{ fieldTitle }}</span>
  <span class="key-value-pair__value">
    <input type="checkbox" name="{{ dataFieldName }}" data-bind="checked: {{ dataFieldName }}" class="" />
  </span>
</label>
