<section data-bind="with: latestOffers">
  <h2>Latest Offers</h2>
  <ul data-bind="foreach: offers">
    <li>
      <a data-bind="attr: { href: viewUrl }, html: description"></a>
    </li>
  </ul>
  <a href="/offers-of-items" class="btn btn--info">
    <span class="btn__text">View all offers</span>
  </a>
</section>
