---
title: Cities - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: swep
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Cities</h1>
      <a href="/cities/add" class="btn btn--primary">
        <span class="btn__text">Add new City</span>
      </a>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content" data-bind="foreach: cities">
      <article class="stacked-list__item">
        <h2 class="stacked-list__header" data-bind="text: name"></h2>
        <button data-bind="attr: { class: buttonClass, 'data-claims': userClaims }, click: toggleSwepAvailability">
          <span class="btn__text" data-bind="text: buttonText"></span>
        </button>
        <!-- ko ifnot: isPublic -->
        <button data-claims="superadmin" class="btn btn--info" data-bind="click: makePublic" title="Make this city visible on the main site">
          <span class="btn__text">Make public</span>
        </button>
        <!-- /ko -->
      </article>
    </div>
  </div>
</div>
{{> loading-spinner}}
