---
title: Page not found - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: generic
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--highlight">
      <div class="container block__inner">
        <header>
          <h1>Page not found</h1>
        </header>
      </div>
    </div>
    <div class="block">
      <div class="container block__inner">
        <div class="block__content">
          <p>Sorry, we weren't able to find this page for you. Please try again, or email us at <a href="mailto:admin@streetsupport.net">admin@streetsupport.net</a>.</p>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
