---
title: Add Service Provider - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: addServiceProvider
page: addServiceProvider
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header class="block__content">
      <h1>Add Service Provider</h1>
      <a href="dashboard.html" class="btn btn--info">
        <span class="btn__text">Back to dashboard</span>
      </a>
    </header>
  </div>
</div>
<div class="block">
  <div class="container block__inner">
    <div class="block__content form">
      {{> form-feedback}}
      <article>
        <dl class="key-value-pair">
          <dt class="key-value-pair__key">Name</dt>
          <dd class="key-value-pair__value">
            <input data-bind="textInput: name" type="text" class="form__input" />
          </dd>
          <dl class="key-value-pair" data-claims="superadmin">
            <dt class="key-value-pair__key">Associated City</dt>
            <dd class="key-value-pair__value">
              <select size="5" multiple="true" data-bind="options: cities,
                optionsValue: 'id',
                optionsText: function (city) {
                  return city.name
                },
                selectedOptions: cityId,
                optionsCaption: '-- please select --'" class="form__input"></select>
                <p>Note: use ctrl + click to select multiple locations.</p>
          </dd>
        </dl>
        <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
      </article>
    </div>
  </div>
</div>
