---
title: Dashboard - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: dashboard
pageName: dashboard
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--cta">
      <div class="container block__inner">
      <div class="block__content">
        <h1>Dashboard</h1>
        <ul data-bind="foreach: serviceProviders">
          <li>
            <dl>
              <dt><a data-bind="attr: { 'href': url, 'title': name }, text: name"></a></dt>
              <dd data-bind="text: verifiedLabel"></dd>
              <dd>
              <button class="btn btn--brand-d">
                <span data-bind="text: toggleVerificationButtonLabel" class="btn__text"></span>
              </button>
              </dd>
            </dl>
          </li>
        </ul>
      </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
