---
title: Dashboard - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: dashboard
page: dashboard
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Service Providers</h1>

      <a href="add-service-provider.html" class="btn btn--info">
        <span class="btn__text">Add Service Provider</span>
      </a>
      <div class="form__field-item form__field-item--full-width" data-claims="superadmin">
        <label for="ffilterByCityilter" class="form__label">Filter by city:</label>
        <select class="form__input form__input--medium" name="filterByCity" data-bind="options: availableCities,
                          value: cityFilter,
                          optionsCaption: 'All',
                          event: { change: filter }"></select>
      </div>
      <div class="form__field-item form__field-item--full-width">
        <label for="filterByVerified" class="form__label">Filter by Status:</label>
        <select class="form__input form__input--medium" name="filterByVerified" data-bind="options: availableStatuses,
                          value: isVerifiedFilter,
                          optionsText: 'text',
                          optionsValue: 'value',
                          optionsCaption: 'All',
                          event: { change: filter }"></select>
      </div>
      <div class="form__field-item form__field-item--full-width">
        <label for="filterByPublished" class="form__label">Filter by Published:</label>
        <select class="form__input form__input--medium" name="filterByPublished" data-bind="options: availablePublishedStates,
                          value: isPublishedFilter,
                          optionsText: 'text',
                          optionsValue: 'value',
                          optionsCaption: 'All',
                          event: { change: filter }"></select>
      </div>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content">
      {{> form-feedback}}
      <section class="block__content" data-bind="template: { name: 'serviceProvider-template', foreach: serviceProviders }" class="stacked-list">
      </section>
      {{> loading-spinner}}
    </div>
  </div>
</div>

<script type="text/html" id="serviceProvider-template">
<article class="stacked-list__item stacked-list__item--service-providers">
  <header class="stacked-list__header">
    <h2 class="stacked-list__heading"><a data-bind="attr: { 'href': url, 'title': name }, html: name"></a></h2>
    <span data-bind="text: verifiedLabel, css: verifiedLabelClass"></span>
    <span data-bind="text: publishedLabel, css: publishedLabelClass"></span>
  </header>
  <button data-bind="click: $parent.toggleVerified" class="stacked-list__button btn btn--info">
    <span data-bind="text: toggleVerificationButtonLabel" class="btn__text btn__text--dashboard"></span>
  </button>
  <button data-bind="click: $parent.togglePublished" class="stacked-list__button btn btn--info">
    <span data-bind="text: togglePublishButtonLabel" class="btn__text btn__text--dashboard"></span>
  </button>
  <a data-bind="attr: { href: newUserUrl }" class="stacked-list__button btn btn--primary">
    <span class="btn__text btn__text--dashboard">New User</span>
  </a>
</article>
</script>
