---
title: Edit Service Provider Address - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: editServiceProviderService
page: editServiceProviderService
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Edit Service</h1>
    </header>
  </div>
</div>
<div class="block">
  <div class="container block__inner">
    <div class="block__content form">
      <form class="form" data-bind="with: service">
        {{> form-feedback}}
        <section class="block__section">
          <h3>Category</h3>
          <dl class="key-value-pair">
            <dt class="key-value-pair__key">Category</dt>
            <dd class="key-value-pair__value" data-bind="text: name"></dd>
          <dt class="key-value-pair__key">Sub Categories</dt>
          <dd class="key-value-pair__value">
            <span data-bind="with: $parent">
              <input type="checkbox" name="selectAllSubCats" data-bind="checked: allSubCatsSelected" class="form__checkbox" />
              <label data-bind="attr: { for: 'selectAllSubCats' }" class="form__checkbox-label">Select All Sub Categories</label>
            </span>
          </dd>
          <dd class="key-value-pair__value">
            <ul data-bind="foreach: subCategories" class="form__checkbox-container">
              <li>
                <input type="checkbox" data-bind="attr: { name: name, id: name, value: id }, checked: isSelected" class="form__checkbox" />
                <label data-bind="text: name, attr: { for: name }" class="form__checkbox-label"></label>
              </li>
            </ul>
          </dd>
        </section>
        <section class="block__section">
          <h3>Service Details</h3>
          <dl class="key-value-pair">
            <dt class="key-value-pair__key">Description</dt>
            <dd class="key-value-pair__value">
              <textarea data-bind="textInput: info" class="form__input form__input--multiline"></textarea>
            </dd>
            <dt class="key-value-pair__key">Target Audience</dt>
            <dd class="key-value-pair__value">
              <input data-bind="textInput: tags" type="text" class="form__input" />
            </dd>
          </dl>
        </section>
        <section class="block__section">
          <dl>
            <dt class="key-value-pair__key">Outreach Location Description</dt>
            <dd class="key-value-pair__value">
              <textarea data-bind="textInput: locationDescription" class="form__input form__input--multiline"></textarea>
            </dd>
          </dl>
        </section>
        <section data-bind="with: address">
          {{> address}}
        </section>
        <section>
          {{> opening-times}}
        </section>
        <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
      </form>
    </div>
  </div>
</div>
