---
title: Login - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: login
pageName: login
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--cta">
      <div class="container block__inner">
        <form class="form">
          <fieldset>
            <legend>Login</legend>
            <p data-bind="text: message"></p>
            <ol>
              <li>
                <label for="username">Username</label>
                <input data-bind="text: username" type="text" name="username" placeholder="Username" />
              </li>
              <li>
                <label for="password">Password</label>
                <input data-bind="text: username" type="text" name="password" placeholder="Password" />
              </li>
            </ol>
          </fieldset>
          <button type="submit" value="login" class="btn btn--brand-d">
            <span class="btn__text">Login</span>
          </button>
        </form>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
