---
title: Service Provider - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: serviceProvider
page: serviceProvider
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <div data-bind="with: serviceProvider">
      <header>
        <h1 data-bind="html: name"></h1>
        <a data-claims="superadmin" href="dashboard.html" class="btn btn--info">
          <span class="btn__text">Back to dashboard</span>
        </a>
      </header>
    </div>
  </div>
</div>
<div class="block" data-claims="orgadmin">
  <div class="container block__inner">
    <div class="block__content" data-bind="with: serviceProvider">
      <!-- ko ifnot: isVerified -->
      <h1 class="h2">Your information is still under review</h1>
      <p>Please confirm the information we have for your organisation is correct. This will remove the "information under review" label on your organisation's page.</p>
      <button class="btn btn--info" data-bind="click: verifyOrg">
        <span class="btn__text">Verify this information</span>
      </button>
      <!-- /ko -->
    </div>
  </div>
</div>
<div class="block">
  <div class="container block__inner">
    <div class="block__content form">
      {{> form-feedback}}
      <div data-bind="with: serviceProvider">
        <div class="split split--admin-panel">
          <section class="split__element split__element--admin-panel">
            {{> service-provider/general-info}}
          </section>
          <section class="split__element split__element--admin-panel">
            {{> service-provider/contact-info}}
          </section>
        </div>

        <div class="split split--admin-panel">
          <section class="split__element split__element--admin-panel">
            {{> service-provider/locations}}
          </section>
          <section class="split__element split__element--admin-panel">
            {{> service-provider/services}}
          </section>
        </div>

        <div class="split split--admin-panel">
          <section class="split__element split__element--admin-panel">
            {{> service-provider/needs}}
          </section>
          <section class="split__element split__element--admin-panel">
            {{> service-provider/donations}}
          </section>
        </div>

        <div class="split split--admin-panel" data-claims="orgadmin">
          <section class="split__element split__element--admin-panel">
            {{> service-provider/accommodation}}
          </section>
          <section class="split__element split__element--admin-panel">
          </section>
        </div>

      </div>
    </div>
  </div>
</div>
