---
title: Service Provider Addresses - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: serviceProviderAddresses
pageName: serviceProviderAddresses
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--cta">
      <div class="container block__inner">
        <div class="block__content form">
          <div data-bind="with: serviceProvider">
            <h1 data-bind="text: name"></h1>
            <h2>Addresses</h2>
            <div data-bind="foreach: addresses">
              <p data-bind="text: message"></p>
              <article>
                <h3 data-bind="text: street1"></h3>
                <!-- ko ifnot: isEditing -->
                <button data-bind="click: edit" class="btn btn--brand-d"><span class="btn__text">edit</span></button>
                <!-- /ko -->
                <!-- ko if: isEditing -->
                <button data-bind="click: cancel" class="btn btn--brand-e"><span class="btn__text">cancel</span></button>
                <button data-bind="click: save" class="btn btn--brand-g"><span class="btn__text">save</span></button>
                <!-- /ko -->
                <dl class="key-value-pair">
                  <dt class="key-value-pair__key">Street Line 1</dt>
                  <dd class="key-value-pair__value">
                    <!-- ko ifnot: isEditing -->
                    <span data-bind="text: street1"></span>
                    <!-- /ko -->
                    <!-- ko if: isEditing -->
                    <input data-bind="textInput: street1" type="text" />
                    <!-- /ko -->
                  </dd>
                  <dt class="key-value-pair__key">Street Line 2</dt>
                  <dd class="key-value-pair__value">
                    <!-- ko ifnot: isEditing -->
                    <span data-bind="text: street2"></span>
                    <!-- /ko -->
                    <!-- ko if: isEditing -->
                    <input data-bind="textInput: street2" type="text" />
                    <!-- /ko -->
                  </dd>
                  <dt class="key-value-pair__key">Street Line 3</dt>
                  <dd class="key-value-pair__value">
                    <!-- ko ifnot: isEditing -->
                    <span data-bind="text: street3"></span>
                    <!-- /ko -->
                    <!-- ko if: isEditing -->
                    <input data-bind="textInput: street3" type="text" />
                    <!-- /ko -->
                  </dd>
                  <dt class="key-value-pair__key">Street Line 4</dt>
                  <dd class="key-value-pair__value">
                    <!-- ko ifnot: isEditing -->
                    <span data-bind="text: street4"></span>
                    <!-- /ko -->
                    <!-- ko if: isEditing -->
                    <input data-bind="textInput: street4" type="text" />
                    <!-- /ko -->
                  </dd>
                  <dt class="key-value-pair__key">City</dt>
                  <dd class="key-value-pair__value">
                    <!-- ko ifnot: isEditing -->
                    <span data-bind="text: city"></span>
                    <!-- /ko -->
                    <!-- ko if: isEditing -->
                    <input data-bind="textInput: city" type="text" />
                    <!-- /ko -->
                  </dd>
                  <dt class="key-value-pair__key">Postcode</dt>
                  <dd class="key-value-pair__value">
                    <!-- ko ifnot: isEditing -->
                    <span data-bind="text: postcode"></span>
                    <!-- /ko -->
                    <!-- ko if: isEditing -->
                    <input data-bind="textInput: postcode" type="text" />
                    <!-- /ko -->
                  </dd>
                </dl>
                <h4>Opening Times</h4>
                <dl data-bind="foreach: openingTimes" class="key-value-pair">
                  <dt data-bind="text: day" class="key-value-pair__key"></dt>
                  <dd><span data-bind="text: startTime"></span> - <span data-bind="text: endTime"></span></dd>
                </dl>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
