---
title: Service Provider Addresses - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: serviceProviderAddresses
pageName: serviceProviderAddresses
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--cta">
      <div class="container block__inner">
        <div class="block__content form">
          <div data-bind="with: serviceProvider">
            <h1 data-bind="text: name"></h1>
            <h2>Addresses</h2>
            <div data-bind="foreach: addresses">
              <article>
                <h3 data-bind="text: street1"></h3>
                <!-- ko ifnot: isEditing -->
                <button data-bind="click: edit">edit</button>
                <!-- /ko -->
                <!-- ko if: isEditing -->
                <button data-bind="click: cancel">cancel</button>
                <!-- /ko -->
                <dl class="key-value-pair">
                  <dt class="key-value-pair__key">Street Line 1</dt>
                  <!-- ko ifnot: isEditing -->
                  <dd data-bind="text: street1" class="key-value-pair__value"></dd>
                  <!-- /ko -->
                  <!-- ko if: isEditing -->
                  <input data-bind="textInput: street1" type="text" />
                  <!-- /ko -->
                  <dt class="key-value-pair__key">Street Line 2</dt>
                  <dd data-bind="text: street2" class="key-value-pair__value"></dd>
                  <dt class="key-value-pair__key">Street Line 3</dt>
                  <dd data-bind="text: street3" class="key-value-pair__value"></dd>
                  <dt class="key-value-pair__key">Street Line 4</dt>
                  <dd data-bind="text: street4" class="key-value-pair__value"></dd>
                  <dt class="key-value-pair__key">City</dt>
                  <dd data-bind="text: city" class="key-value-pair__value"></dd>
                  <dt class="key-value-pair__key">Postcode</dt>
                  <dd data-bind="text: postcode" class="key-value-pair__value"></dd>
                </dl>
                <h4>Opening Times</h4>
                <dl data-bind="foreach: openingTimes" class="key-value-pair">
                  <dt data-bind="text: day" class="key-value-pair__key"></dt>
                  <dd><span data-bind="text: startTime"></span> - <span data-bind="text: endTime"></span></dd>
                </dl>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
