---
title: Service Provider - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
jsName: serviceProvider
pageName: serviceProvider
---

{{#extend "_default"}}
  {{#content "main"}}
    <div class="block block--cta">
      <div class="container block__inner">
        <div class="block__content form">
          <p data-bind="text: message"></p>
          <div data-bind="with: serviceProvider">
            <h1 data-bind="text: name"></h1>
            <section>
              <h2>General Details</h2>
              <!-- ko ifnot: $parent.isEditingGeneralDetails -->
              <button data-bind="click: $parent.editGeneralDetails" class="btn btn--brand-d"><span class="btn__text">edit</span></button>
              <!-- /ko -->
              <!-- ko if: $parent.isEditingGeneralDetails -->
              <button data-bind="click: $parent.cancelEditGeneralDetails" class="btn btn--brand-e"><span class="btn__text">cancel</span></button>
              <button data-bind="click: $parent.saveGeneralDetails" class="btn btn--brand-g"><span class="btn__text">save</span></button>
              <!-- /ko -->
              <dl class="key-value-pair">
                <dt class="key-value-pair__key">Description</dt>
                <dd class="key-value-pair__value">
                  <!-- ko ifnot: $parent.isEditingGeneralDetails -->
                  <span data-bind="text: description"></span>
                  <!-- /ko -->
                  <!-- ko if: $parent.isEditingGeneralDetails -->
                  <textarea data-bind="textInput: description"></textarea>
                  <!-- /ko -->
                </dd>
              </dl>
            </section>
            <section>
              <h2>Contact Information</h2>
              <!-- ko ifnot: $parent.isEditingContactDetails -->
              <button data-bind="click: $parent.editContactDetails" class="btn btn--brand-d"><span class="btn__text">edit</span></button>
              <!-- /ko -->
              <!-- ko if: $parent.isEditingContactDetails -->
              <button data-bind="click: $parent.cancelEditContactDetails" class="btn btn--brand-e"><span class="btn__text">cancel</span></button>
              <button data-bind="click: $parent.saveContactDetails" class="btn btn--brand-g"><span class="btn__text">save</span></button>
              <!-- /ko -->
              <dl class="key-value-pair">
                <dt class="key-value-pair__key">Telephone</dt>
                <dd class="key-value-pair__value">
                  <!-- ko ifnot: $parent.isEditingContactDetails -->
                  <span data-bind="text: telephone"></span>
                  <!-- /ko -->
                  <!-- ko if: $parent.isEditingContactDetails -->
                  <input type="text" data-bind="textInput: telephone" />
                  <!-- /ko -->
                </dd>
                <dt class="key-value-pair__key">Email</dt>
                <dd class="key-value-pair__value">
                  <!-- ko ifnot: $parent.isEditingContactDetails -->
                  <span data-bind="text: email"></span>
                  <!-- /ko -->
                  <!-- ko if: $parent.isEditingContactDetails -->
                  <input type="text" data-bind="textInput: email" />
                  <!-- /ko -->
                </dd>
                <dt class="key-value-pair__key">Website</dt>
                <dd class="key-value-pair__value">
                  <!-- ko ifnot: $parent.isEditingContactDetails -->
                  <span data-bind="text: website"></span>
                  <!-- /ko -->
                  <!-- ko if: $parent.isEditingContactDetails -->
                  <input type="text" data-bind="textInput: website" />
                  <!-- /ko -->
                </dd>
                <dt class="key-value-pair__key">Facebook</dt>
                <dd class="key-value-pair__value">
                  <!-- ko ifnot: $parent.isEditingContactDetails -->
                  <span data-bind="text: facebook"></span>
                  <!-- /ko -->
                  <!-- ko if: $parent.isEditingContactDetails -->
                  <input type="text" data-bind="textInput: facebook" />
                  <!-- /ko -->
                </dd>
                <dt class="key-value-pair__key">Twitter</dt>
                <dd class="key-value-pair__value">
                  <!-- ko ifnot: $parent.isEditingContactDetails -->
                  <span data-bind="text: twitter"></span>
                  <!-- /ko -->
                  <!-- ko if: $parent.isEditingContactDetails -->
                  <input type="text" data-bind="textInput: twitter" />
                  <!-- /ko -->
                </dd>
              </dl>
            </section>
            <section>
              <h2>Addresses</h2>
              <a data-bind="attr: { 'href': amendAddressesUrl }" title="edit addresses">Edit Addresses</a>
              <div data-bind="foreach: addresses">
                <article>
                  <address data-bind="text: formatted"></address>
                  <dl data-bind="foreach: openingTimes" class="key-value-pair">
                    <dt data-bind="text: day" class="key-value-pair__key"></dt>
                    <dd><span data-bind="text: startTime"></span> - <span data-bind="text: endTime"></span></dd>
                  </ol>
                </article>
              </div>
            </section>
            <section>
              <h2>Services</h2>
              <div data-bind="foreach: providedServices">
                <h3 data-bind="text: name"></h3>
                <p data-bind="text: info"></p>
                <dl data-bind="foreach: openingTimes" class="key-value-pair">
                  <dt data-bind="text: day" class="key-value-pair__key"></dt>
                  <dd><span data-bind="text: startTime"></span> - <span data-bind="text: endTime"></span></dd>
                </ol>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  {{/content}}

  {{#content "gutter"}}{{/content}}
{{/extend}}
