---
title: Verify Account - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: verifyNewUser
page: verifyNewUser
nosubnav: true
---

<div class="block block--highlight">
  <div class="container block__inner">
    <header>
    <h1>Verify Account</h1>
    </header>
  </div>
</div>
<div class="block">
  <div class="container block__inner">
    <div class="block__content form">
      <!-- ko if: userCreated -->
      <p>Thank you for verifying your account, you can now log in with your credentials, using the button below.</p>
      <p>If you require any further help, please download our <a href="/docs/street-support-org-user-guide.pdf">user guide</a>, or contact us at <a href="mailto:dev@streetsupport.net">dev@streetsupport.net</a>.</p>
      <p>
        <a href="/login.html" class="btn btn--info btn--full">
          <span class="btn__text">Login now!</span>
        </a>
      </p>
      <!-- /ko -->
      <!-- ko ifnot: userCreated -->
      <article>
        <p>Please enter a username and password which you would like to use to log into StreetSupport.</p>
        <p>Passwords should be at least 12 characters in length, and contain a mix of upper- and lower-case letters.</p>
        <p>We strongly recommend a password manager to ensure your passwords are strong and also unique across different websites.</p>
        <p data-bind="text: message"></p>
        <!-- ko if: hasErrors -->
        <h2>There were errors in your submission:</h2>
        <ul data-bind="foreach: errors">
          <li data-bind="text: $data"></li>
        </ul>
        <!-- /ko -->
        <dl class="key-value-pair">
          <dt class="key-value-pair__key">Username</dt>
          <dd class="key-value-pair__value">
            <input data-bind="textInput: username" type="text" class="form__input" />
          </dd>
        </dl>
        <dl class="key-value-pair">
          <dt class="key-value-pair__key">Password</dt>
          <dd class="key-value-pair__value">
            <input data-bind="textInput: password" type="password" class="form__input" />
          </dd>
        </dl>
        <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
      </article>
      <!-- /ko -->
    </div>
  </div>
</div>
