---
title: Create Accommodation Provider Admin - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: create-accom-provider-admin
page: users
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Create Accommodation Provider Admin</h1>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <!-- ko ifnot: formSubmitted -->
    <div class="block__content form">
    <p>To create a new Accommodation Provider Admin, please enter their email, and hit 'save'.</p>
    <p>They will be emailed a link where they can set their username and password.</p>
      {{> form-feedback}}
      <article data-bind="with: formFields">
        <dl class="key-value-pair">
          {{> forms/textField fieldTitle="Email Address" dataFieldName="email" }}
        </dl>
        
        <button data-bind="click: $parent.save" class="btn btn--primary"><span class="btn__text">Save</span></button>
      </article>
    </div>
    <!-- /ko -->
    <!-- ko if: formSubmissionSuccessful -->
    <p>Thank you for adding this entry.</p>
    <button data-bind="click: reset" class="btn btn--primary">
      <span class="btn__text">Add another</span>
    </button>
    <!-- /ko -->
  </div>
</div>
{{> loading-spinner}}
