<h3>Additional Comments (optional)</h3>
<dl class="key-value-pair">
  {{> forms/textArea fieldTitle="Review body" dataFieldName="body" }}
  {{> forms/textField fieldTitle="Reviewer Name" dataFieldName="reviewerName" }}
  {{> forms/textField fieldTitle="Reviewer Contact Details" dataFieldName="reviewerContactDetails" }}
  {{> forms/boolean fieldTitle="Can this review be displayed publically?" dataFieldName="canBeDisplayedPublically" }}
</dl>