<footer class="footer" role="contentinfo">
  <div class="container">
    <p class="footer__copy">&copy; 2019 Street Support Network</p>
    <p>We are driven by our users, and appreciate any feedback. Your feedback helps us prioritise new work to ensure we continue to make your work easier, sooner. <a href="http://bit.ly/ssn-org-admin-feedback-2019">Give us your feedback</a></p>
  </div>
</footer>
