<p data-bind="text: message"></p>
<!-- ko if: hasErrors -->
  <!-- ko template: { name: 'form-feedback-template' } --><!-- /ko -->
<!-- /ko -->

<script type="text/html" id="form-feedback-template">
<div class="form-feedback">
  <h2 class="form-feedback__heading">There were errors in your submission:</h2>
  <ul data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
  </ul>
</div>
</script>
