<nav class="nav__container js-nav-container">
  <button class="btn btn--plain nav__btn js-nav-close" type="button">{{>icon name="close" class="icon"}}<span class="hide-screen">Close</span></button>

  <ul class="nav__list">
    <li class="nav__item"><a href="/">Home</a></li>
    <li class="nav__item" data-claims="cityadmin,orgadmin"><a href="/volunteers.html">Volunteers</a></li>
    <li class="nav__item" data-claims="cityadmin,orgadmin"><a href="/offers-of-items">Offers</a></li>
    <li class="nav__item" data-claims="charteradmin"><a href="/charter-pledges.html">Charter Pledges</a></li>
    <li class="nav__item" data-claims="charteradmin"><a href="/action-groups">Action Groups</a></li>
    <li class="nav__item" data-claims="superadmin"><a href="/mailing-list">Mailing List</a></li>
    <li class="nav__item" data-claims="superadmin"><a href="/users">Users</a></li>
    <li class="nav__item" data-claims="cityadmin,superadmin"><a href="/impact-updates">Impact Updates</a></li>
    <li class="nav__item" data-claims="cityadminfor:manchester,superadmin"><a href="/swep">SWEP</a></li>
    <li class="nav__item" data-claims="cityadmin,superadmin,tempaccomadmin"><a href="/accommodation">Accommodation</a></li>
  </ul>
  <ul class="nav__list header-nav__list">
    <li class="nav__item"><a href="/logout.html">Logout</a></li>
  </ul>
</nav>
