<nav class="nav__container js-nav-container">
  <button class="btn btn--plain nav__btn js-nav-close" type="button">{{>icon name="close" class="icon"}}<span class="hide-screen">Close</span></button>

  <ul class="nav__list">
    <li class="nav__item nav__item--dashboard" data-claims="orgadmin"><a href="/">Dashboard</a></li>
    <li class="nav__item nav__item--dashboard" data-claims="superadmin,cityadmin"><a href="/">Organisations</a></li>
    <li class="nav__item nav__item--volunteers" data-claims="superadmin,cityadmin,orgadmin"><a href="/volunteers.html">Volunteers</a></li>
    <li class="nav__item nav__item--offers" data-claims="superadmin,cityadmin,orgadmin"><a href="/offers-of-items">Offers</a></li>
    <li class="nav__item nav__item--charterpledges" data-claims="superadmin,charteradmin"><a href="/charter-pledges.html">Charter Pledges</a></li>
    <li class="nav__item nav__item--actiongroups" data-claims="superadmin,charteradmin"><a href="/action-groups">Action Groups</a></li>
    <li class="nav__item nav__item--mailinglist" data-claims="superadmin"><a href="/mailing-list">Mailing List</a></li>
    <li class="nav__item nav__item--users" data-claims="superadmin,cityadmin"><a href="/users">Users</a></li>
    <li class="nav__item nav__item--impactupdates" data-claims="superadmin,cityadmin"><a href="/impact-updates">Impact Updates</a></li>
    <li class="nav__item nav__item--swep" data-claims="superadmin,cityadminfor:manchester"><a href="/swep">SWEP</a></li>
    <li class="nav__item nav__item--accommodation" data-claims="superadmin,tempaccomadmin,orgadmin,cityadmin"><a href="/accommodation">Accommodation</a></li>
  </ul>
</nav>
