<nav class="nav__container js-nav-container">
  <button class="btn btn--plain nav__btn js-nav-close" type="button">{{>icon name="close" class="icon"}}<span class="hide-screen">Close</span></button>

  <ul class="nav__list">
    <li class="nav__item nav__item--dashboard" data-claims="superadmin,cityadmin,orgadmin"><a href="/dashboard">Dashboard</a></li>
    <li class="nav__item nav__item--organisations" data-claims="superadmin,cityadmin"><a href="/service-providers/">Organisations</a></li>
    <li class="nav__item nav__item--accommodation" data-claims="superadmin,tempaccomadmin,orgadmin,cityadmin"><a href="/accommodation">Accommodation</a></li>
    <li class="nav__item nav__item--volunteers" data-claims="superadmin,cityadmin,orgadmin"><a href="/volunteers/">Volunteers</a></li>
    <li class="nav__item nav__item--offersOfItems" data-claims="superadmin,cityadmin,orgadmin"><a href="/offers-of-items">Offers</a></li>
    <li class="nav__item nav__item--advice" data-claims="superadmin,cityadmin"><a href="/advice">Location Advice</a></li>
    <li class="nav__item nav__item--content-pages" data-claims="superadmin,cityadmin"><a href="/content-pages">Content Pages</a></li>
    <li class="nav__item nav__item--swep" data-claims="superadmin,cityadmin"><a href="/cities">Cities</a></li>
    <li class="nav__item nav__item--users" data-claims="superadmin,cityadmin"><a href="/users">Users</a></li>
  </ul>
</nav>
