<!-- ko if: viewingAsCsv -->
<div class="block block--main-body">
  <div class="block__inner">
    <div class="block__content">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Categories</th>
            <th>Skills</th>
            <th>Availability</th>
            <th>Resources</th>
          </tr>
        </thead>
        <tbody data-bind="template: { name: 'csv-template', foreach: csvItems }">
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- /ko -->
<!-- ko ifnot: viewingAsCsv -->
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content">
      <section class="block__content" data-bind="template: { name: 'item-template', foreach: items }" class="stacked-list">
      </section>
      {{> pagination }}
    </div>
  </div>
</div>
<!-- /ko -->
{{> loading-spinner }}
