<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content">
      <!-- ko if: viewingAsCsv -->
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Categories</th>
            <th>Skills</th>
            <th>Availability</th>
            <th>Resources</th>
          </tr>
        </thead>
        <tbody data-bind="template: { name: 'csv-template', foreach: csvItems }">
        </tbody>
      </table>
      <!-- /ko -->
      <!-- ko ifnot: viewingAsCsv -->
      <section class="block__content" data-bind="template: { name: 'item-template', foreach: items }" class="stacked-list">
      </section>
      {{> pagination }}
      <!-- /ko -->
      {{> loading-spinner }}
    </div>
  </div>
</div>