<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content">
      <section class="block__content" data-bind="template: { name: 'item-template', foreach: items }" class="stacked-list">
      </section>
      {{> pagination }}
      {{> loading-spinner }}
    </div>
  </div>
</div>