<h3>Need</h3>
<dl class="key-value-pair">
  <dt class="key-value-pair__key">Description</dt>
  <dd class="key-value-pair__value">
    <textarea data-bind="textInput: description" class="form__input--textarea"></textarea>
  </dd>
</dl>
