---
title: Service Providers - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: service-provider-listing
page: dashboard
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Service Providers</h1>
      <a href="/add-service-provider.html" class="btn btn--info">
        <span class="btn__text">Add New Service Provider</span>
      </a>
      <form class="form" data-bind="submit: submitSearch">
        <fieldset class="form__fieldset">
          <legend class="form__legend">Filter results</legend>
          <ul class="form__field-list">
            <!-- ko if: shouldShowLocationFilter -->
            <li class="form__field-item form__field-item--full-width" data-claims="superadmin,cityadmin">
              <label for="filterOnLocation" class="form__label">Location:</label>
              <select class="form__input form__input--medium" name="filterOnLocation" data-bind="options: availableLocations,
                                value: locationToFilterOn,
                                optionsText: 'name',
                                optionsValue: 'id',
                                optionsCaption: 'All'"></select>
            </li>
            <!-- /ko -->
            <li class="form__field-item">
              <label for="filterByName" class="form__label">Name:</label>
              <input type="text" name="filterByName" class="form__input" data-bind="textInput: nameToFilterOn"></input>
            </li>
            <li class="form__field-item">
              <label class="form__label">Is Verified:</label>
              {{> forms/yesNoEitherRadio dataFieldName="verified" dataValue="filterOnIsVerified" }}
            </li>
            <li class="form__field-item">
              <label class="form__label">Is Visible:</label>
              {{> forms/yesNoEitherRadio dataFieldName="visible" dataValue="filterOnIsPublished" }}
          </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--info">
          <span class="btn__text">Search</span>
        </button>
      </form>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content">
      {{> form-feedback}}
      <section class="block__content" data-bind="template: { name: 'serviceProvider-template', foreach: serviceProviders }" class="stacked-list">
      </section>
      {{> pagination }}
      {{> loading-spinner}}
    </div>
  </div>
</div>

<script type="text/html" id="serviceProvider-template">
<article class="stacked-list__item stacked-list__item--service-providers">
  <header class="stacked-list__header">
    <h2 class="stacked-list__heading"><a data-bind="attr: { 'href': url, 'title': name }, html: name"></a></h2>
    <span data-bind="text: verifiedLabel, css: verifiedLabelClass"></span>
    <span data-bind="text: publishedLabel, css: publishedLabelClass"></span>
  </header>
  <button data-bind="click: $parent.toggleVerified" class="stacked-list__button btn btn--info">
    <span data-bind="text: toggleVerificationButtonLabel" class="btn__text btn__text--dashboard"></span>
  </button>
  <button data-bind="click: $parent.togglePublished" class="stacked-list__button btn btn--info">
    <span data-bind="text: togglePublishButtonLabel" class="btn__text btn__text--dashboard"></span>
  </button>
  <a data-bind="attr: { href: newUserUrl }" class="stacked-list__button btn btn--primary">
    <span class="btn__text btn__text--dashboard">New User</span>
  </a>
</article>
</script>