---
title: Service Providers - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: service-provider-listing
page: dashboard
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Service Providers</h1>
      <a href="/add-service-provider.html" class="btn btn--info">
        <span class="btn__text">Add New Service Provider</span>
      </a>
      <form class="form" data-bind="submit: submitSearch">
        <fieldset class="form__fieldset">
          <legend class="form__legend">Filter results</legend>
          <ul class="form__field-list">
            <!-- ko if: shouldShowLocationFilter -->
            <li class="form__field-item form__field-item--full-width" data-claims="superadmin,cityadmin">
              <label for="filterOnLocation" class="form__label">Location:</label>
              <select class="form__input form__input--medium" name="filterOnLocation" data-bind="options: availableLocations,
                                value: locationToFilterOn,
                                optionsText: 'name',
                                optionsValue: 'id',
                                optionsCaption: 'All'"></select>
            </li>
            <!-- /ko -->
            <li class="form__field-item">
              <label for="filterByName" class="form__label">Name:</label>
              <input type="text" name="filterByName" class="form__input" data-bind="textInput: nameToFilterOn"></input>
            </li>
            <li class="form__field-item">
              <label class="form__label">Is Verified:</label>
              <label for="is-verified" class="form__label form__label--checkbox">Yes:</label>
              <input id="is-verified" name="is-verified" type="radio" data-bind="checkedValue: true, checked: filterOnIsVerified"></input>
              <label for="is-not-verified" class="form__label form__label--checkbox">No:</label>
              <input id="is-not-verified" name="is-not-verified" type="radio" data-bind="checkedValue: false, checked: filterOnIsVerified"></input>
              <label for="either-verified" class="form__label form__label--checkbox">Either:</label>
              <input id="either-verified" name="either-verified" type="radio" name="filterByIsVerified" data-bind="checkedValue: '', checked: filterOnIsVerified"></input>
            </li>
            <li class="form__field-item">
              <label class="form__label">Is Visible:</label>
              <label for="is-visible" class="form__label form__label--checkbox">Yes:</label>
              <input id="is-visible" name="is-visible" type="radio" name="filterOnIsPublished" data-bind="checkedValue: true, checked: filterOnIsPublished"></input>
              <label for="is-not-visible" class="form__label form__label--checkbox">No:</label>
              <input id="is-not-visible" name="is-not-visible" type="radio" name="filterOnIsPublished" data-bind="checkedValue: false, checked: filterOnIsPublished"></input>
              <label for="either-visible" class="form__label form__label--checkbox">Either:</label>
              <input id="either-visible" name="either-visible" type="radio" name="filterOnIsPublished" data-bind="checkedValue: '', checked: filterOnIsPublished"></input>
          </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--info">
          <span class="btn__text">Search</span>
        </button>
      </form>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content">
      {{> form-feedback}}
      <section class="block__content" data-bind="template: { name: 'serviceProvider-template', foreach: serviceProviders }" class="stacked-list">
      </section>
      <div class="pagination">
        <span class="pagination__label">Page:</span>
        <ol class="pagination__list" data-bind="template: { name: 'pagination-nav-template', foreach: paginationLinks }">
        </ol>
      </div>
      {{> loading-spinner}}
    </div>
  </div>
</div>

<script type="text/html" id="serviceProvider-template">
<article class="stacked-list__item stacked-list__item--service-providers">
  <header class="stacked-list__header">
    <h2 class="stacked-list__heading"><a data-bind="attr: { 'href': url, 'title': name }, html: name"></a></h2>
    <span data-bind="text: verifiedLabel, css: verifiedLabelClass"></span>
    <span data-bind="text: publishedLabel, css: publishedLabelClass"></span>
  </header>
  <button data-bind="click: $parent.toggleVerified" class="stacked-list__button btn btn--info">
    <span data-bind="text: toggleVerificationButtonLabel" class="btn__text btn__text--dashboard"></span>
  </button>
  <button data-bind="click: $parent.togglePublished" class="stacked-list__button btn btn--info">
    <span data-bind="text: togglePublishButtonLabel" class="btn__text btn__text--dashboard"></span>
  </button>
  <a data-bind="attr: { href: newUserUrl }" class="stacked-list__button btn btn--primary">
    <span class="btn__text btn__text--dashboard">New User</span>
  </a>
</article>
</script>

<script type="text/html" id="pagination-nav-template">
<li class="pagination__list-item">
  <!-- ko if: isCurrent -->
  <span class="pagination__link pagination__link--current" data-bind="text: pageNumber"></span>
  <!-- /ko -->
  <!-- ko ifnot: isCurrent -->
  <a class="pagination__link" data-bind="click: changePage, text: pageNumber"></a>
  <!-- /ko -->
</li>
</script>