---
title: Service Providers - Street Support Admin
description: Street Support - Making it easier to help homeless people in Manchester
layout: default.hbs
permalink: false
jsBundle: service-provider-listing
page: organisations
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Service Providers</h1>
      <a href="/add-service-provider.html" class="btn btn--info">
        <span class="btn__text">Add New Service Provider</span>
      </a>
      <form class="form" data-bind="submit: submitSearch">
        <fieldset class="form__fieldset">
          <legend class="form__legend">Filter results</legend>
          <ul class="form__field-list">
            <!-- ko if: shouldShowLocationFilter -->
            <li class="form__field-item form__field-item--full-width" data-claims="superadmin,cityadmin">
              <label for="filterOnLocation" class="form__label">Location:</label>
              <select class="form__input form__input--medium" name="filterOnLocation" data-bind="options: availableLocations,
                                value: locationToFilterOn,
                                optionsText: 'name',
                                optionsValue: 'id',
                                optionsCaption: 'All'"></select>
            </li>
            <!-- /ko -->
            <li class="form__field-item">
              <label for="filterByName" class="form__label">Name:</label>
              <input type="text" name="filterByName" class="form__input" data-bind="textInput: nameToFilterOn"></input>
            </li>
            <li class="form__field-item">
              <label class="form__label">Is Verified:</label>
              {{> forms/yesNoEitherRadio dataFieldName="verified" dataValue="filterOnIsVerified" }}
            </li>
            <li class="form__field-item">
              <label class="form__label">Is Visible:</label>
              {{> forms/yesNoEitherRadio dataFieldName="visible" dataValue="filterOnIsPublished" }}
          </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--info">
          <span class="btn__text">Search</span>
        </button>
      </form>
    </header>
  </div>
</div>

{{> item-listing }}

<!-- The Show Input Motes Modal -->
<!-- ko if: isOpenNotesInputModal -->
<div class="modal" data-bind="style: { display: isOpenNotesInputModal() ? 'block' : 'none' }">

  <!-- Modal content -->
  <div class="modal__content">
    <span class="modal__close" data-bind="click: toggleNotesInput">&times;</span>

    <div class="block">
      <div class="container block__inner">
        <div class="block__content form">
          <!-- ko if: note -->
          <article data-bind="with: note">
            <dl class="key-value-pair">
              <dt class="key-value-pair__key">Date</dt>
              <dd class="key-value-pair__value">
                <input data-bind="value: date, attr: { min: $parent.moment().format($parent.dateFormat) }" type="date" class="form__input"/>
              </dd>

              <dt class="key-value-pair__key">Name of SSN staff</dt>
              <dd class="key-value-pair__value">
                <input data-bind="textInput: staffName" type="text" class="form__input"/>
              </dd>

              <dt class="key-value-pair__key">Reason for disabling the page</dt>
              <dd class="key-value-pair__value">
                <textarea rows="5" data-bind="textInput: reason" class="form__input" style="resize: none;"></textarea>
              </dd>

              <dt class="key-value-pair__key errors" data-bind="text: $parent.errorMessage, style: { display: $parent.errorMessage() ? 'block' : 'none' }"></dt>
            </dl>

            <button data-bind="click: $parent.togglePublished" class="stacked-list__button btn btn--info">
              <span data-bind="text: 'Disable'" class="btn__text btn__text--dashboard"></span>
            </button>
          </article>
          <!-- /ko -->
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /ko -->

<!-- The Show Motes Modal -->
<!-- ko if: isOpenNotesModal -->
<div class="modal" data-bind="style: { display: isOpenNotesModal() ? 'block' : 'none' }">

  <!-- Modal content -->
  <div class="modal__content">
    <span class="modal__close" data-bind="click: toggleNotes">&times;</span>

    <div class="block">
      <div class="container block__inner" data-bind="with: currentServiceProvider">
        <!-- ko if: notes -->
        <div class="block__content form" data-bind="foreach: notes">
          <article>
            <dl class="key-value-pair">
              <dt class="key-value-pair__key">Date</dt>
              <dd class="key-value-pair__value">
                <span data-bind="text: $parents[1].moment(date()).format('DD/MM/YYYY')"></span>
              </dd>

              <dt class="key-value-pair__key">Name of SSN staff</dt>
              <dd class="key-value-pair__value">
                <span data-bind="text: staffName"></span>
              </dd>

              <dt class="key-value-pair__key">Reason for disabling the page</dt>
              <dd class="key-value-pair__value">
                <span data-bind="text: reason" style="text-align: justify;"></span>
              </dd>
            </dl>
            <!-- ko if: $parent.notes().length - 1 !== $index()  -->
            <div class="separator"></div>
            <!-- /ko -->
          </article>

        </div>

        <button data-bind="click: $parents[0].handleClearNotesConfirmation" class="btn btn--warning">
          <span class="btn__text">Clear notes</span>
        </button>
        <!-- /ko -->
      </div>
    </div>

  </div>

</div>
<!-- /ko -->

<!-- The Show Confirmation Dialog on Clear notes -->
<!-- ko if: isOpenClearNotesConfirmationDialog -->
<div class="modal confirmation-dialog" data-bind="style: { display: isOpenClearNotesConfirmationDialog() ? 'block' : 'none' }">

  <!-- Modal content -->
  <div class="modal__content">
    <div class="block">
      <div class="container block__inner">
        <p>
          Are you sure you want to delete all notes?
        </p>
        <button data-bind="click: clearNotes" class="btn btn--warning">
          <span class="btn__text">Yes</span>
        </button>
        <button data-bind="click: handleClearNotesConfirmation" class="btn btn--indifferent">
          <span class="btn__text">Cancel</span>
        </button>
      </div>
    </div>
  </div>

</div>
<!-- /ko -->

<script type="text/html" id="item-template">
<article class="stacked-list__item stacked-list__item--service-providers">
  <header class="stacked-list__header">
    <h2 class="stacked-list__heading"><a data-bind="attr: { 'href': url, 'title': name }, html: name"></a></h2>
    <span data-bind="text: verifiedLabel, css: verifiedLabelClass"></span>
    <span data-bind="text: publishedLabel, css: publishedLabelClass"></span>
  </header>
  <button data-bind="click: $parent.toggleVerified" class="stacked-list__button btn btn--info">
    <span data-bind="text: toggleVerificationButtonLabel" class="btn__text btn__text--dashboard"></span>
  </button>
  <button data-bind="click: $parent.toggleNotesInput" class="stacked-list__button btn btn--info">
    <span data-bind="text: togglePublishButtonLabel" class="btn__text btn__text--dashboard"></span>
  </button>
  <a data-bind="attr: { href: newUserUrl }" class="stacked-list__button btn btn--primary">
    <span class="btn__text btn__text--dashboard">New User</span>
  </a>
  <button data-bind="click: $parent.toggleNotes, style: { display: notes().length > 0 ? 'inline-block' : 'none' }" class="stacked-list__button btn btn--info">
    <span data-bind="text: 'Notes'" class="btn__text btn__text--dashboard"></span>
  </button>
</article>
</script>