---
title: Temporary Accommodation - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: tempAccomAdd
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Add Temporary Accommodation entry</h1>
      <a href="/temporary-accommodation" class="btn btn--info">
        <span class="btn__text">Back to listing</span>
      </a>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <!-- ko ifnot: formSubmitted -->
    <div class="block__content form">
      {{> form-feedback}}
      <article data-bind="with: formFields">
        <h3>Contact Details</h3>
        <dl class="key-value-pair">
          <dt class="key-value-pair__key">Name</dt>
          <dd class="key-value-pair__value form__field-item">
            <input data-bind="textInput: name" type="text" class="form__input" />
          </dd>
          <dt class="key-value-pair__key">Additional Info</dt>
          <dd class="key-value-pair__value form__field-item">
            <textarea data-bind="textInput: additionalInfo" class="form__input form__input--multiline"></textarea>
          </dd>
          <dt class="key-value-pair__key">Email</dt>
          <dd class="key-value-pair__value form__field-item">
            <input data-bind="textInput: email" type="email" class="form__input" />
          </dd>
          <dt class="key-value-pair__key">Telephone</dt>
          <dd class="key-value-pair__value form__field-item">
            <input data-bind="textInput: telephone" type="text" class="form__input" />
          </dd>
        </dl>
        <h3>Location Details</h3>
        <dl class="key-value-pair">
          <dt class="key-value-pair__key">Street Line 1</dt>
          <dd class="key-value-pair__value form__field-item">
            <input data-bind="textInput:addressLine1" type="text" class="form__input" />
          </dd>
          <dt class="key-value-pair__key">Street Line 2</dt>
          <dd class="key-value-pair__value form__field-item">
            <input data-bind="textInput:addressLine2" type="text" class="form__input" />
          </dd>
          <dt class="key-value-pair__key">Street Line 3</dt>
          <dd class="key-value-pair__value form__field-item">
            <input data-bind="textInput:addressLine3" type="text" class="form__input" />
          </dd>
          <dt class="key-value-pair__key">City</dt>
          <dd class="key-value-pair__value form__field-item">
            <input data-bind="textInput:city" type="text" class="form__input" />
          </dd>
          <dt class="key-value-pair__key">Postcode</dt>
          <dd class="key-value-pair__value form__field-item">
            <input data-bind="textInput: postcode" type="text" class="form__input" />
          </dd>
        </dl>
        <button data-bind="click: $parent.save" class="btn btn--primary"><span class="btn__text">Save</span></button>
      </article>
    </div>
    <!-- /ko -->
    <!-- ko if: formSubmissionSuccessful -->
    <p>Thank you for adding this entry.</p>
    <button data-bind="click: reset" class="btn btn--primary"><span class="btn__text">Add another</span></button>
    <!-- /ko -->
  </div>
</div>
{{> loading-spinner}}
