---
title: Temporary Accommodation - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: tempAccomAdd
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Add Temporary Accommodation entry</h1>
      <a href="/temporary-accommodation" class="btn btn--info">
        <span class="btn__text">Back to listing</span>
      </a>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <!-- ko ifnot: formSubmitted -->
    <div class="block__content form">
      {{> form-feedback}}
      <article data-bind="with: formFields">
        <h3>General Info</h3>
        <dl class="key-value-pair">
          {{> forms/textField fieldTitle="Name" dataFieldName="name" }}
          {{> forms/textArea fieldTitle="Description" dataFieldName="description" }}
        </dl>
        <h3>Contact Details</h3>
        <dl class="key-value-pair">
          {{> forms/textField fieldTitle="Name" dataFieldName="contactName" }}
          {{> forms/emailField fieldTitle="Email" dataFieldName="email" }}
          {{> forms/textField fieldTitle="Telephone" dataFieldName="telephone" }}
        </dl>
        <h3>Location Details</h3>
        <dl class="key-value-pair">
          {{> forms/textField fieldTitle="Street Line 1" dataFieldName="addressLine1" }}
          {{> forms/textField fieldTitle="Street Line 2" dataFieldName="addressLine2" }}
          {{> forms/textField fieldTitle="Street Line 3" dataFieldName="addressLine3" }}
          {{> forms/textField fieldTitle="City" dataFieldName="city" }}
          {{> forms/textField fieldTitle="Postcode" dataFieldName="postcode" }}
        </dl>
        <button data-bind="click: $parent.save" class="btn btn--primary"><span class="btn__text">Save</span></button>
      </article>
    </div>
    <!-- /ko -->
    <!-- ko if: formSubmissionSuccessful -->
    <p>Thank you for adding this entry.</p>
    <button data-bind="click: reset" class="btn btn--primary"><span class="btn__text">Add another</span></button>
    <!-- /ko -->
  </div>
</div>
{{> loading-spinner}}
