---
title: Accommodation - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: tempAccom
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Accommodation</h1>
      <a href="/accommodation/add" class="btn btn--info">
        <span class="btn__text">Add new entry</span>
      </a>
      <form class="form" data-bind="submit: submitSearch">
        <fieldset class="form__fieldset">
          <legend class="form__legend">Filter results</legend>
          <ul class="form__field-list">
            <!-- ko if: shouldShowLocationFilter -->
            <li class="form__field-item form__field-item--full-width" data-claims="superadmin,cityadmin">
              <label for="filterOnLocation" class="form__label">Location:</label>
              <select class="form__input form__input--medium" name="filterOnLocation" data-bind="options: cities,
                                value: locationToFilterOn,
                                optionsText: 'name',
                                optionsValue: 'id',
                                optionsCaption: 'All'"></select>
            </li>
            <!-- /ko -->
            <li class="form__field-item" data-claims="superadmin,cityadmin">
              <label for="filterByName" class="form__label">Service Provider:</label>  
              <select data-bind="options: serviceProviders,
                optionsValue: function (item) { return item.key },
                optionsText:  function (item) { return item.name },
                value: providerIdToFilterOn,
                optionsCaption: '-- please select --'"
                class="form__input"></select>
            </li>
            <li class="form__field-item">
              <label for="filterByName" class="form__label">Name:</label>
              <input type="text" name="filterByName" class="form__input" data-bind="textInput: nameToFilterOn"></input>
            </li>
          </ul>
        </fieldset>
        <button type="submit" class="btn btn--info">
          <span class="btn__text">Search</span>
        </button>
      </form>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    {{> item-listing }}
  </div>
</div>
{{> loading-spinner}}

<script type="text/html" id="item-template">
    <article>
      <header>
        <h1 class="h2" data-bind="html: name"></h1>
        <p><span data-bind="html: street1"></span>, <span data-bind="html: city"></span>. <span data-bind="html: postcode"></span></p>
      </header>
      <a data-bind="attr: { href: editUrl }" class="btn btn--primary">
        <span class="btn__text">edit</a>
      </a>
      <!-- ko if: userCanSeeReviews -->
      <a data-bind="attr: { href: addReviewsUrl }" data-claims="superadmin,tempaccomadmin" class="btn btn--info">
        <span class="btn__text">add feedback</a>
      </a>
      <a data-bind="attr: { href: reviewsListingUrl }" data-claims="superadmin,tempaccomadmin" class="btn btn--info">
        <span class="btn__text">view past feedback</a>
      </a>
      <!-- /ko -->
    </article>
</script>
