---
title: Accommodation - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: tempAccomEdit
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Edit Accommodation</h1>
      <a href="/accommodation" class="btn btn--info" data-claims="superadmin,cityadmin,orgadmin">
        <span class="btn__text">Back to listing</span>
      </a>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content form">
      {{> form-feedback}}

      <div class="split split--admin-panel">
        <section class="split__element split__element--admin-panel" data-bind="with: generalDetails">
          <h2>General Details</h2>
            {{> forms/inline/editCancelSaveButtons }}
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/textField fieldTitle="Name" dataFieldName="name" }}
              {{> forms/inline/boolean fieldTitle="Visible on website?" dataFieldName="isPubliclyVisible" classes="form__label--checkbox-container--strong" }}
              <div data-claims="superadmin,cityadmin">
                <dt class="key-value-pair__key key-value-pair__key--inline">Service Provider</dt>
                <dd class="key-value-pair__value">
                  <!-- ko ifnot: $parent.isEditable -->
                  <span data-bind="html: serviceProviderIdReadOnly"></span>
                  <!-- /ko -->
                  <!-- ko if: $parent.isEditable -->
                  <select data-bind="options: $parent.serviceProviders,
                  optionsValue: function (item) { return item.id },
                  optionsText:  function (item) { return item.name },
                  value: serviceProviderId,
                  optionsCaption: '-- please select --'" class="form__input"></select>
                  <!-- /ko -->
                </dd>
              </div>
              {{> forms/inline/textArea fieldTitle="Short Description" dataFieldName="synopsis" readOnlyFieldName="synopsisReadOnly" }}
              {{> forms/inline/textArea fieldTitle="Full Description" dataFieldName="description" readOnlyFieldName="descriptionReadOnly" }}

              <dt class="key-value-pair__key key-value-pair__key--inline">Accommodation Type</dt>
              <dd class="key-value-pair__value">
                <!-- ko ifnot: $parent.isEditable -->
                <span data-bind="html: accommodationType"></span>
                <!-- /ko -->
                <!-- ko if: $parent.isEditable -->
                <select data-bind="options: $parent.accommodationTypes,
                    optionsValue: function (item) { return item.key },
                    optionsText:  function (item) { return item.name },
                    value: accommodationType,
                    optionsCaption: '-- please select --'" class="form__input"></select>
                <!-- /ko -->
              </dd>
            </dl>
        </section>
        <section class="split__element split__element--admin-panel" data-bind="with: contactDetails">
          <h2>Contact Details</h2>
            {{> forms/inline/editCancelSaveButtons }}
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/textField fieldTitle="Contact Name" dataFieldName="name" }}
              {{> forms/inline/textArea fieldTitle="Additional Info" dataFieldName="additionalInfo" readOnlyFieldName="additionalInfo" }}
              {{> forms/inline/emailField fieldTitle="Email" dataFieldName="email" }}
              {{> forms/inline/textField fieldTitle="Telephone" dataFieldName="telephone" }}
            </dl>
        </section>
      </div>

      <div class="split split--admin-panel">
        <section class="split__element split__element--admin-panel" data-bind="with: address">
          <h2>Location</h2>
            {{> forms/inline/editCancelSaveButtons }}
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/textField fieldTitle="Street 1" dataFieldName="street1" }}
              {{> forms/inline/textField fieldTitle="Street 2" dataFieldName="street2" }}
              {{> forms/inline/textField fieldTitle="Street 3" dataFieldName="street3" }}
              {{> forms/inline/textField fieldTitle="City" dataFieldName="city" }}
              {{> forms/inline/textField fieldTitle="Postcode" dataFieldName="postcode" }}
              {{> forms/inline/boolean fieldTitle="Hide address from public?" dataFieldName="addressIsPubliclyHidden" }}
              {{> forms/inline/textArea fieldTitle="Public Transport" dataFieldName="publicTransportInfo" readOnlyFieldName="publicTransportInfo" }}
              <dt data-claims="superadmin,cityadmin" class="key-value-pair__key">Street Support Location</dt>
              <dd data-claims="superadmin,cityadmin" class="key-value-pair__value form__field-item">
                <!-- ko ifnot: $parent.isEditable -->
                <span data-bind="html: associatedCityIdReadOnly"></span>
                <!-- /ko -->
                <!-- ko if: $parent.isEditable -->
                <select data-bind="options: $parent.locations,
                    optionsValue: function (item) { return item.id },
                    optionsText:  function (item) { return item.name },
                    value: associatedCityId" class="form__input"></select>
                <!-- /ko -->
              </dd>
              <dt class="key-value-pair__key">Nearest Support Provider</dt>
              <dd class="key-value-pair__value">
                <!-- ko ifnot: $parent.isEditable -->
                <span data-bind="html: nearestSupportProviderIdReadOnly"></span>
                <!-- /ko -->
                <!-- ko if: $parent.isEditable -->
                <select data-bind="options: $parent.serviceProviders,
                optionsValue: function (item) { return item.id },
                optionsText:  function (item) { return item.name },
                value: nearestSupportProviderId,
                optionsCaption: '-- please select --'" class="form__input"></select>
                <!-- /ko -->
              </dd>
            </dl>
        </section>

        <section class="split__element split__element--admin-panel" data-bind="with: features">
          <h2>Features</h2>
            {{> forms/inline/editCancelSaveButtons }}
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/booleanOrOther fieldTitle="Single Rooms" dataFieldName="hasSingleRooms" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Shared Rooms" dataFieldName="hasSharedRooms" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Disabled Access" dataFieldName="hasDisabledAccess" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Allows Pets" dataFieldName="acceptsPets" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Allows Visitors" dataFieldName="allowsVisitors" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Shower/Bathroom Facilities" dataFieldName="hasShowerBathroomFacilities" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Access to Kitchen" dataFieldName="hasAccessToKitchen" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Communal/Social Area" dataFieldName="hasLounge" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Laundry Facilities" dataFieldName="hasLaundryFacilities" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Provides Clean Bedding" dataFieldName="providesCleanBedding" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Flexible Meal Times" dataFieldName="hasFlexibleMealTimes" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/textArea fieldTitle="Additional Notes" dataFieldName="additionalFeatures" readOnlyFieldName="additionalFeaturesReadOnly" }}
            </dl>
        </section>
      </div>

      <div class="split split--admin-panel">
        <section class="split__element split__element--admin-panel" data-bind="with: pricingAndRequirements">
          <h2>Pricing and Requirements</h2>
            {{> forms/inline/editCancelSaveButtons }}
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/boolean fieldTitle="Requires a Referral?" dataFieldName="referralIsRequired" }}
              {{> forms/inline/textArea fieldTitle="Referral Notes" dataFieldName="referralNotes" readOnlyFieldName="referralNotesReadOnly" }}
              {{> forms/inline/textField fieldTitle="Price (£ p/w)" dataFieldName="price" }}
              {{> forms/inline/booleanOrOther fieldTitle="Price includes food" dataFieldName="foodIsIncluded" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/textArea fieldTitle="Meals Available" dataFieldName="availabilityOfMeals" readOnlyFieldName="availabilityOfMealsReadOnly" }}
              {{> forms/inline/textArea fieldTitle="Features available at additional cost" dataFieldName="featuresAvailableAtAdditionalCost" readOnlyFieldName="featuresAvailableAtAdditionalCostReadOnly" }}
            </dl>
        </section>

        <section class="split__element split__element--admin-panel" data-bind="with: supportProvided">
          <h2>Support Offered</h2>
            {{> forms/inline/editCancelSaveButtons }}
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/booleanOrOther fieldTitle="On-site Manager" dataFieldName="hasOnSiteManager" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/textArea fieldTitle="Support Notes" dataFieldName="supportInfo" readOnlyFieldName="supportInfoReadOnly" }}
              <dt class="key-value-pair__key key-value-pair__key--inline">Support Provided</dt>
              <!-- ko ifnot: $parent.isEditable -->
              <dd class="key-value-pair__value">
                <span data-bind="html: supportOfferedReadOnly"></span>
              </dd>
              <!-- /ko -->
              <!-- ko if: $parent.isEditable -->
              <dd class="key-value-pair__value" data-bind="foreach: $parent.supportTypes">
                <label class="form__label form__label--checkbox-container">
                  <span class="key-value-pair__key key-value-pair__key--inline" data-bind="text: name"></span>
                  <span class="key-value-pair__value">
                    <input type="checkbox" name="supportOffered" id="supportOffered" data-bind="checked: $parent.supportOffered, attr: { value: key }" class="" />
                  </span>
                </label>
              </dd>
              <!-- /ko -->
            </dl>
        </section>
      </div>

      <div class="split split--admin-panel">
        <section class="split__element split__element--admin-panel" data-bind="with: residentCriteria">
          <h2>Suitable For</h2>
            {{> forms/inline/editCancelSaveButtons }}
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/boolean fieldTitle="Men" dataFieldName="acceptsMen" }}
              {{> forms/inline/boolean fieldTitle="Women" dataFieldName="acceptsWomen" }}
              {{> forms/inline/boolean fieldTitle="Couples" dataFieldName="acceptsCouples" }}
              {{> forms/inline/boolean fieldTitle="Same-Sex Couples" dataFieldName="acceptsSingleSexCouples" }}
              {{> forms/inline/boolean fieldTitle="Young People" dataFieldName="acceptsYoungPeople" }}
              {{> forms/inline/boolean fieldTitle="Families" dataFieldName="acceptsFamilies" }}
              {{> forms/inline/boolean fieldTitle="Housing Benefit Claimants" dataFieldName="acceptsBenefitsClaimants" }}
            </dl>
        </section>
        <section class="split__element split__element--admin-panel">&nbsp;</section>
      </div>
    </div>
  </div>
</div>
{{> loading-spinner}}
