---
title: Accommodation - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: tempAccomEdit
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header>
      <h1>Edit Accommodation</h1>
      <a href="/accommodation" class="btn btn--info">
        <span class="btn__text">Back to listing</span>
      </a>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content form">
      {{> form-feedback}}

      <div class="split split--admin-panel">
        <section class="split__element split__element--admin-panel" data-bind="with: generalDetails">
          <h2>General Details</h2>
            <!-- ko ifnot: isEditable -->
            <button data-bind="click: edit" class="btn btn--info"><span class="btn__text">edit</span></button>
            <!-- /ko -->
            <!-- ko if: isEditable -->
            <button data-bind="click: cancel" class="btn btn--indifferent"><span class="btn__text">cancel</span></button>
            <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
            <!-- /ko -->
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/textField fieldTitle="Name" dataFieldName="name" }}
              {{> forms/inline/textArea fieldTitle="Synopsis" dataFieldName="synopsis" readOnlyFieldName="synopsisReadOnly" }}
              {{> forms/inline/textArea fieldTitle="Description" dataFieldName="description" readOnlyFieldName="descriptionReadOnly" }}
              {{> forms/inline/boolean fieldTitle="Open Access?" dataFieldName="isOpenAccess" claimsRequired="superadmin,orgadmin,cityadmin" }}
              {{> forms/inline/boolean fieldTitle="Visible on website?" dataFieldName="isPubliclyVisible" }}
              
              <dt class="key-value-pair__key key-value-pair__key--inline">Accommodation Type</dt>
              <dd class="key-value-pair__value">
                <!-- ko ifnot: $parent.   isEditable -->
                <span data-bind="html: accommodationType"></span>
                <!-- /ko -->
                <!-- ko if: $parent.    isEditable -->
                <select data-bind="options: $parent.accommodationTypes,
                    optionsValue: (item) => { return item.key },
                    optionsText: (item) => { return item.name },
                    value: accommodationType,
                    optionsCaption: '-- please select --'" class="form__input"></select>
                <!-- /ko -->
              </dd>

              <dt class="key-value-pair__key key-value-pair__key--inline">Support Provided</dt>
              <!-- ko ifnot: $parent.   isEditable -->
              <dd class="key-value-pair__value">
                <span data-bind="html: supportOfferedReadOnly"></span>
              </dd>
              <!-- /ko -->
              <!-- ko if: $parent.    isEditable -->
              <dd class="key-value-pair__value" data-bind="foreach: $parent.supportTypes">
                <label class="form__label form__label--checkbox-container">
                  <span class="key-value-pair__key key-value-pair__key--inline" data-bind="text: name"></span>
                  <span class="key-value-pair__value">
                    <input type="checkbox" name="supportOffered" id="supportOffered" data-bind="checked: $parent.supportOffered, attr: { value: key }" class="" />
                  </span>
                </label>
              </dd>
              <!-- /ko -->
            </dl>
        </section>
        <section class="split__element split__element--admin-panel" data-bind="with: contactDetails">
          <h2>Contact Details</h2>
            <!-- ko ifnot: isEditable -->
            <button data-bind="click: edit" class="btn btn--info"><span class="btn__text">edit</span></button>
            <!-- /ko -->
            <!-- ko if: isEditable -->
            <button data-bind="click: cancel" class="btn btn--indifferent"><span class="btn__text">cancel</span></button>
            <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
            <!-- /ko -->
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/textField fieldTitle="Contact Name" dataFieldName="name" }}
              {{> forms/inline/textArea fieldTitle="Additional Info" dataFieldName="additionalInfo" readOnlyFieldName="additionalInfo" }}
              {{> forms/inline/emailField fieldTitle="Email" dataFieldName="email" }}
              {{> forms/inline/textField fieldTitle="Telephone" dataFieldName="telephone" }}
            </dl>
        </section>
      </div>

      <div class="split split--admin-panel">
        <section class="split__element split__element--admin-panel" data-bind="with: address">
          <h2>Location</h2>
            <!-- ko ifnot: isEditable -->
            <button data-bind="click: edit" class="btn btn--info"><span class="btn__text">edit</span></button>
            <!-- /ko -->
            <!-- ko if: isEditable -->
            <button data-bind="click: cancel" class="btn btn--indifferent"><span class="btn__text">cancel</span></button>
            <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
            <!-- /ko -->
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/textField fieldTitle="Street 1" dataFieldName="street1" }}
              {{> forms/inline/textField fieldTitle="Street 2" dataFieldName="street2" }}
              {{> forms/inline/textField fieldTitle="Street 3" dataFieldName="street3" }}
              {{> forms/inline/textField fieldTitle="City" dataFieldName="city" }}
              {{> forms/inline/textField fieldTitle="Postcode" dataFieldName="postcode" }}
              {{> forms/inline/textArea fieldTitle="Public Transport" dataFieldName="publicTransportInfo" readOnlyFieldName="publicTransportInfo" }}
              <dt class="key-value-pair__key">Nearest Support Provider</dt>
              <dd class="key-value-pair__value">
                <!-- ko ifnot: $parent.isEditable -->
                <span data-bind="html: nearestSupportProviderIdReadOnly"></span>
                <!-- /ko -->
                <!-- ko if: $parent.isEditable -->
                <select data-bind="options: $parent.serviceProviders,
                optionsValue: (item) => { return item.id },
                optionsText: (item) => { return item.name },
                value: nearestSupportProviderId,
                optionsCaption: '-- please select --'" class="form__input"></select>
                <!-- /ko -->
              </dd>
            </dl>
        </section>

        <section class="split__element split__element--admin-panel" data-bind="with: features">
          <h2>Features</h2>
            <!-- ko ifnot: isEditable -->
            <button data-bind="click: edit" class="btn btn--info"><span class="btn__text">edit</span></button>
            <!-- /ko -->
            <!-- ko if: isEditable -->
            <button data-bind="click: cancel" class="btn btn--indifferent"><span class="btn__text">cancel</span></button>
            <button data-bind="click: save" class="btn btn--primary"><span class="btn__text">save</span></button>
            <!-- /ko -->
            <dl class="key-value-pair" data-bind="with: formFields">
              {{> forms/inline/booleanOrOther fieldTitle="Accepts Housing Benefit" dataFieldName="acceptsHousingBenefit" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Accepts Pets" dataFieldName="acceptsPets" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Accepts Couples" dataFieldName="acceptsCouples" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Disabled Access" dataFieldName="hasDisabledAccess" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Suitable for Women" dataFieldName="isSuitableForWomen" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Suitable for Young People" dataFieldName="isSuitableForYoungPeople" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Single Rooms" dataFieldName="hasSingleRooms" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Shared Rooms" dataFieldName="hasSharedRooms" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Shower/Bathroom Facilities" dataFieldName="hasShowerBathroomFacilities" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Access to Kitchen" dataFieldName="hasAccessToKitchen" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Flexible Meal Times" dataFieldName="hasFlexibleMealTimes" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/textArea fieldTitle="Meal Availability" dataFieldName="availabilityOfMeals" }}
              {{> forms/inline/booleanOrOther fieldTitle="Lounge" dataFieldName="hasLounge" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Provides Clean Bedding" dataFieldName="providesCleanBedding" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Allows Visitors" dataFieldName="allowsVisitors" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="On-site Manager" dataFieldName="hasOnSiteManager" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/booleanOrOther fieldTitle="Reference/Referral Required" dataFieldName="referenceReferralIsRequired" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/textField fieldTitle="Price (£ p/w)" dataFieldName="price" classModifier="" }}
              {{> forms/inline/booleanOrOther fieldTitle="Food Included" dataFieldName="foodIsIncluded" thirdOptionLabel="Don't Know/Ask" }}
              {{> forms/inline/textArea fieldTitle="Additional Features" dataFieldName="additionalFeatures" readOnlyFieldName="additionalFeaturesReadOnly" }}
              {{> forms/inline/textArea fieldTitle="Other Features for Additional Cost" dataFieldName="featuresAvailableAtAdditionalCost" readOnlyFieldName="featuresAvailableAtAdditionalCostReadOnly" }}
            </dl>
        </section>
    </div>
  </div>
</div>
{{> loading-spinner}}
