---
title: Accommodation Feedback - Street Support
description: Street support makes it easier to help homeless people. Here is more information about how it works.
layout: default.hbs
permalink: false
jsBundle: accommodationReviewDetails
nosubnav: true
---

<div class="block block--highlight admin-header">
  <div class="container block__inner">
    <header data-bind="with: review">
    <h1>Feedback date: <span data-bind="text: documentCreationDateReadOnly"></span></h1>
    {{!--<p data-bind="text: address"></p>--}}
    <a data-bind="attr: { href: $parent.reviewListingUrl }" class="btn btn--info">
      <span class="btn__text">Back to Review List</span>
    </a>
    </header>
  </div>
</div>
<div class="block block--main-body">
  <div class="container block__inner">
    <div class="block__content">
      <section data-bind="with: review">
      {{> accom-review disabled="true" }}
      </section>
      
      <section data-bind="with: feedback">
      {{> accom-review-comments disabled="true" }}
      </section>
    </div>
  </div>
</div>
{{> loading-spinner}}
